#{extends 'main.html' /}
#{set title:'记录管理' /}
#{output 'RecordMgm/growthRecordTpl.html'/}
<!-- 记录管理  -->
<div class="container">
	<div class="col-md-2">
		<ul class="babyManMenu manaMenu">
			<li class="active">
				<a href="#">小宝成长</a>
				<ul>
					<li><a href=@{Application.recordMgm()}>所有宝贝</a></li>
					<li><a href=@{Application.findBabyByPro()}>查找宝贝</a></li>
					<li><a href=@{Application.findBabyByCondition()}>宝贝情况筛选</a></li>
				</ul>
			</li>
			<li class="active">
				<a href="#">女性助手</a>
				<ul>
					<li><a href="@{Application.listUserGR()}">用户女性助手列表</a></li>
					<li><a href="@{Application.searchUsergr()}">查找用户女性助手</a></li>
				</ul>
			</li>
			<li class="active">
				<a href="@{Application.listUserMbox()}">药箱管理</a>
				<ul>
					<li><a href="@{Application.listUserMbox()}">用户药箱列表</a></li>
					<li><a href="@{Application.findUerMbox()}">查找用户药箱</a></li>
				</ul>
			</li>
			<li class="active">
				<a href="#">随手记</a>
				<ul>
					<li><a href="@{Application.listUserNotebook()}">用户笔记本列表</a></li>
					<li><a href="@{Application.searchUserNotebook()}">查找用户笔记记录</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-10 babyList dataList">
		<table class="table table-hover table-striped" id="babyTable">
			<tr class="tableHeader">
			    <th>用户编号</th>
				<th>姓名</th>
				<th>性别</th>
				<th>出生日期</th>
				<th>父母</th>
				<th>身体指标</th>
				<th>成绩指标</th>
				<th>疫苗记录</th>
				<th>管理</th>
			</tr>
		</table>
		<div class="foot">
		<nav>
			<ul class="pagination babyPag">
				<li class="disabled"><a href="#" class="prevPage">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				#{if pageNum>1}
				#{list items:1..pageNum-1, as:'i'}
    				<li><a href="#">${i+1}</a></li>
				#{/list}
				#{/if}
				
				<li><a href="#" class="nextPage">»</a></li>			
			</ul>
		</nav>
		</div>
	</div>
	<div class="col-md-10  hidden babyDetail">
	<form action="#" class="form-horizontal" role="form">
	<div class="form-group">
		    <input type="text" class="form-control flag" name="uid" id="uid" value=${flag}>
		     <input type="text" class="form-control searchInfo" name="uid2" id="uid2" value=${seachInfo}>
		  </div>
		  </form>
		  </div>
	<!-- <div class="col-md-10 hidden userDetail">
		<form action="#" class="form-horizontal" role="form">
			<div class="form-group">
		    <label >用户Id</label>
		    <input type="text" class="form-control" name="uid" id="uid" disabled>
		  </div>
		  <div class="form-group">
		    <label for="userName">姓名</label>
		    <input type="text" class="form-control" name="username" id="userName" placeholder="输入要修改的姓名">
		  </div>
		  <div class="form-group">
		    <label for="nickName">昵称</label>
		    <input type="text" class="form-control" name="nickname" id="nickName" placeholder="输入要修改的昵称">
		  </div>
		  <div class="form-group">
		    <label for="email">邮箱</label>
		    <input type="email" class="form-control" name="email" id="email" placeholder="输入要修改的邮箱">
		  </div>
		  <div class="form-group">
		    <label for="password">密码</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="输入要修改的密码">
		  </div>
		  <div class="form-group">
		    <label for="phone">手机</label>
		    <input type="phone" class="form-control" name="phone" id="phone" placeholder="输入要修改的手机">
		  </div>
		  <div class="form-group">
		    <label for="idcard">身份证</label>
		    <input type="text" class="form-control" name="idcard" id="idcard" placeholder="输入要修改的身份证号码">
		  </div>
		  <button type="button" class="btn btn-primary submitBtn">提交</button>
		  <button type="button" class="btn btn-default returnBtn">返回</button>
		</form>
	</div> -->
</div>
#{set 'moreScripts'}
<!-- 加载的js -->
<script type="text/javascript" src = "@{'/public/javascripts/juicer.js'}"></script>
<script src="@{'/public/javascripts/growthLoad.js'}"></script>
<script src="@{'/public/javascripts/growthOper.js'}"></script>
#{/set}