#{extends 'client.html' /}
#{set title:'家庭助理，助力家庭' /}
<link rel="stylesheet" href="@{'/public/stylesheets/client/first.css'}?v=20150804">
<header class="mui-bar mui-bar-nav babyTitle">
  <h1 class="mui-title">首页</h1>
</header>

<!-- 个人信息 -->
<div class="userBox mui-navigate-right">
  <a class="userLink" href="/client/psnCenter">
    <div class="headImg">
      <!-- <img src="@{'/public/images/client/child-1.jpg'}" alt=""/> -->
      <img id="userHeadImg" src="" alt=""/>
    </div>
    <p id="nickName" class="nickname"></p>
    <p class="account"></p>
  </a>
</div>

<!-- 菜单 -->
<ul class="mui-table-view mui-grid-view mui-grid-9 navList">
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="/client/pregMense">
      <i class="icon-first iconfont">&#xe711;</i>
      <div class="mui-media-body">助孕记录</div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="/client/myBaby">
      <i class="icon-first iconfont">&#xf001d;</i>
      <div class="mui-media-body">宝宝成长</div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="/client/medBox">
      <i class="icon-first iconfont">&#xe626;</i>
      <div class="mui-media-body">家庭药箱</div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="/client/psnCenter">
      <i class="icon-first iconfont">&#xe60b;</i>
      <div class="mui-media-body">个人中心</div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="/client/stools">
      <i class="icon-first iconfont">&#xe616;</i>
      <div class="mui-media-body">常用工具</div>
    </a>
  </li>
  <li class="mui-table-view-cell mui-media mui-col-xs-4">
    <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI4Njg5NQ==&mid=206742364&idx=1&sn=1a59b5e9d185367ed4096aa0c74d0cb6#wechat_redirect">
      <i class="icon-first iconfont">&#xe61e;</i>
      <div class="mui-media-body">常见问题</div>
    </a>
  </li>
</ul>


<script type="text/javascript" src = "@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>
<script>
  $(function(){
    $.post("/CUserAction/loadUserInf",function(data){
        if(data.result == 0){//成功
          $("#userHeadImg").attr("src",data.data.headimgurl);
          $("#nickName").text(data.data.nickname);
          if("未设置"!=data.data.cloveId){
            $(".account").text(data.data.cloveId);
          }
        }
    });
  });//结束$(function()
</script>
