#{extends 'client.html' /}
#{set title:'测试' /}
<link rel="stylesheet" href="@{'/public/stylesheets/client/psnCenter.css'}">
<script type="text/javascript" src = "@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>
<ul class="mui-table-view">
  <li class="mui-table-view-cell" id="cloveIdItem">
    <a class="mui-navigate-right">
      丁香号
    </a>
  </li>
  <li class="mui-table-view-cell" id="phoneItem">
    <a class="mui-navigate-right">
      手机
    </a>
  </li>
  <li class="mui-table-view-cell" id="emailItem">
    <a class="mui-navigate-right">
      邮箱
    </a>
  </li>
</ul>

<script type="text/javascript">
	//丁香号
	document.getElementById("cloveIdItem").addEventListener("tap",function(event){
		localStorage.modifyItem = 1;
		window.location.href="modifyPhone"; 
	});

	//手机号
	document.getElementById("phoneItem").addEventListener("tap",function(event){
		localStorage.modifyItem = 2;
    window.location.href="modifyPhone"; 
	});

	//邮箱
	document.getElementById("emailItem").addEventListener("tap",function(event){
		localStorage.modifyItem = 3;
    window.location.href="modifyPhone"; 
	});
</script>





