#{extends 'client.html' /}
#{set title:'使用声明' /}

<header class="mui-bar mui-bar-nav headTitle">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" href="/client/psnCenter"></a>
  <h1 class="mui-title">使用声明</h1>
</header>

<ul class="rulesList">
  <li>
    丁香女性助手(一下称“女性助手”)是酷聚物联网科技有限公司旗下的一款基于母婴的公众号平台，其中包括女性助手、宝宝成长、小药箱、小工具、丁香资讯、个人中心等多个模块功能，用户可以微信直接关注我们即可使用，无需登录，无需注册。
  </li>
  <li>
    用户在使用女性助手平台的过程中可以自由记录女性助手、成长记录、药箱记录等等,记录的信息在系统可以查看、修改,该类信息由用户个人负责,本公司对内容不承担任何法律责任。同时，用户可以以正常的使用行为使用本平台，不得蓄意通过其他途径扰乱本系统的功能，对此类行为本公司将保留追究相关法律责任的权利。
  </li>
  <li>
    任何人不得以任何理由模仿复制本平台或相类似平台，本公司将依法追究相应责任。
  </li>
</ul>

<link rel="stylesheet" href="@{'/public/stylesheets/client/psnCenter.css'}">
<script type="text/javascript" src = "@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>




