body{
	padding-top:80px;
}
.userManMenu{
	list-style-type:none;
	padding:0px;
	border:1px solid #e7e7e7;
}
.userManMenu li{
	text-align: center;
	border-bottom:1px solid #e7e7e7;
}
.userManMenu li.active{
	background:#e7e7e7;
	color:#555;
}
.userManMenu li a{
	display: block;
	padding:10px;
	color:#555;
}
table#userTable{
	min-height:707px;
}
table#userTable tr td{
	line-height:50px;
}
.userList nav{
	text-align:center;
}