#{extends 'client.html' /}
#{set title:'成长记录' /}


<link href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.animation.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.frame.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.scroller.css'}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="@{'/public/stylesheets/client/baby.css'}"/>

<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>


<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.core.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.frame.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.scroller.js'}"></script>

<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.select.js'}"></script>
<script src="@{'/public/javascripts/client/baby.js'}"></script>
<script src="@{'/public/javascripts/Chart.min.js'}"></script>

<!-- <script src="js/mobiscroll-2.14.4-crack.js"></script> -->

<header class="mui-bar mui-bar-nav babyTitle">
  <a class="mui-icon mui-icon-home mui-pull-left" href="/client/first"></a>
  <a id="list_children" class="mui-icon mui-icon-bars mui-pull-right"></a>
  <h1 id="title-babyGrowth" class="mui-title">成长记录</h1>
</header>

<div id="slider" class="mui-slider babySlider">
	<!-- <div class="test"> -->
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item" href="#item1mobile">
				身体指标
			</a>
		<a class="mui-control-item" href="#item2mobile">
				成绩表单
			</a>
		<a class="mui-control-item" href="#item3mobile">
				疫苗接种
			</a>
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
	<!-- </div> -->
	<div class="mui-slider-group">
		<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
			<!-- 加载显示 -->
			<div class="mui-loading loading-bi">
				<div class="mui-spinner">
				</div>
			</div>
			
			<!-- 消息提示 -->
			<div id="nullTips-bi" class="nullTips-tab">
				没有找到宝宝的身体指标,<br/>赶紧去添加吧！
			</div>

			
			<!-- 身体指标内容模块 -->
			<div id="bodyIndex-content" class="bodyIndex-content tab-Content">
			<!-- <div class="databox"> -->
				<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp;历史记录
					<a class="floatRight-link" href="/Client/biDetail">更多></a>
				</div>
				<table class="scoreTable">
					<tr class="tableTitle">
						<td>身高(cm)</td>
						<td>体重(kg)</td>
						<td>年龄</td>
					</tr>
					<tr id="lastData-bi-1" class="oddLine data-record-bi">

					</tr>
					<tr id="lastData-bi-2" class="evenLine data-record-bi">

					</tr>
				</table>
			<!-- </div> -->
			<!-- 历史记录结束 -->

			<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp; 身高动态
					<a class="floatRight-link" href="/Client/biDetail">详细分析></a>
			</div>

			<!-- 只有一条数据的时候显示 -->
			<div class="oneData oneData-height">
				<p>年龄:<span id="oneDataVal-age-h"></span> &nbsp;身高:<span id="oneDataVal-baby-h"></span>cm &nbsp;标准:<span id="oneDataVal-stander-h"></span>cm</p>
			</div>
			<!-- 身体指标图表模块 -->
			<div id="chartbox_bi_h" class="charBox">
				<div class="unitDesc">cm</div>
				<div class="mark_chart">
					<div class="standerDesc">
						<div class="line-stander"></div>标准
						
					</div>
					<div class="babyDesc">
						<div class="line-baby"></div>宝宝
					</div>
				</div>
				<!-- 图表区域，展示最近动态 -->
				<canvas id="bodySimChart" height="150"></canvas>
				

			</div><!-- 身体指标图表模块结束 -->
			

			<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp; 体重动态
					<a class="floatRight-link" href="#">详细分析></a>
			</div>

			<!-- 只有一条数据的时候显示 -->
			<div class="oneData oneData-weight">
				<p>年龄:<span id="oneDataVal-age-w">18岁</span> &nbsp;体重:<span id="oneDataVal-baby-w">55</span>kg &nbsp;标准:<span id="oneDataVal-stander-w">56</span>kg</p>
			</div>
			<!-- 体重指标图表模块 -->
			<div id="chartbox_bi_w" class="charBox">
				<div class="unitDesc">kg</div>
				<div class="mark_chart">
					<div class="standerDesc">
						<div class="line-stander"></div>标准
						
					</div>
					<div class="babyDesc">
						<div class="line-baby"></div>宝宝
					</div>
				</div>
				<!-- 图表区域，展示最近动态 -->
				<canvas id="bodyChart-weight" height="150"></canvas>
				
			</div><!-- 身体指标图表模块结束 -->
			</div><!--身体指标内容模块结束-->
		</div>

		<!-- card2成绩表单 -->
		<div id="item2mobile" class="mui-slider-item mui-control-content">
			<!-- 加载显示 -->
			<div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div>

			<!-- 科目 -->
			<div id="subjectBox" class="subjectBox">
				<div>
					<img class="time-img" src="@{'/public/images/client/book.png'}" alt=""/>
				<span class="subjectTitle">科目</span>
				<span id="subjectArrow" class="mui-icon mui-icon-arrowdown subjectArrow"></span>
				<span id="subject" class="subjectName">语文</span>
				</div>			
			</div>
			<!-- 科目结束 -->

			<!-- 消息提示 -->
			<div id="nullTips-gf" class="nullTips-tab">
				
			</div>
			
			<div class="gradeFormDataBox tab-Content">

			
			<!-- 历史记录 -->
			<div class="databox">
				<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp;历史记录
					<a class="floatRight-link" href="/Client/gfDetail">更多></a>
				</div>
				<table class="scoreTable">
					<tr class="tableTitle">
						<td>年级</td>
						<td>日期</td>
						<td>成绩</td>
					</tr>
					<tr id="lastData_mark_1" class="oddLine data-record-gf">
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr id="lastData_mark_2" class="evenLine data-record-gf">
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
			<!-- 历史记录结束 -->


			<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp; 动态
					<a class="floatRight-link" href="/Client/gfDetail">详细分析></a>
			</div>


			<!-- 只有一条数据的时候显示 -->
			<div class="oneData oneData-gf">
				<p>年级:<span id="oneDataVal-grade"></span> &nbsp;日期:<span id="oneDataVal-time"></span> &nbsp;成绩:<span id="oneDataVal-mark"></span>分</p>
			</div>

			<!-- 身体指标图表模块 -->
			<div id="chartbox_gf" class="charBox">
				<!-- 图表区域，展示最近动态 -->
				<canvas id="markSimChart" height="200"></canvas>
			</div><!-- 身体指标图表模块结束 -->
			</div>
		</div>

		<!-- card3 -->
		<div id="item3mobile" class="mui-slider-item mui-control-content">
			<!-- 加载中显示 -->
			<div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div>

			<div class="vaccine-Content tab-Content">
			<!-- 上一次记录 -->
			<div class="databox">
				<div class="objectTitle">
					<div class="pointSign"></div>
					&nbsp;下次接种
				</div>
				<div class="nullTips nullTips-vac nullTips-vac-todo">恭喜您，宝宝已经接种完全部疫苗哦！</div>
				<ul class="datalist nextVacList">
				</ul>
			</div>
			<!-- 上一次记录结束 -->

			<!-- 历史记录 -->
			<div class="databox">
				<div class="objectTitle">
					<span class="pointSign"></span>
					&nbsp;已接种疫苗
					<a id="more-vaced" class="floatRight-link" href="#">更多></a>
				</div>
				<div class="nullTips nullTips-vac nullTips-vac-done">宝宝还没有接种过疫苗哦！</div>
				<table class="scoreTable vaccinatedTable">
					<tr class="tableTitle">
						<td>名称</td>
						<td>接种时间</td>
					</tr>
				
				</table>
			</div>
			<!-- 历史记录结束 -->
			</div>
		</div>
	</div>
	
</div>
<!-- 消息提示 -->
<div id="nullTips" class="nullTips-babyGrowth">
	没有找到宝宝的身体指标,<br/>赶紧去添加吧！
</div>

<!-- 操作结果信息 -->
<div class="infTips response-tips">
	<!-- asdf -->
</div>

<!-- <nav class="mui-bar mui-bar-tab">
			  <a id="ad" class="grow_tab_link" href="#">
			   	 <i class="iconfont recordNavIcon">&#xe6a8;</i>提示
			  </a>
			  <a class="grow_tab_link" href="#">
			  	 <i class="iconfont recordNavIcon">&#xe61a;</i>分享
			  </a>
			  <a id="add_babygrow" class="grow_tab_link" href="/client/vaccine">
			   	 <i class="iconfont recordNavIcon">&#xe640;</i>添加
			  </a>
</nav> -->

<!-- 添加按钮 -->
<a href="/client/vaccine" id="add_babygrow" class="growth-add-btn">
	<span class="mui-icon mui-icon-plusempty"></span>
</a>

<!-- 孩子选择弹出窗 -->
<div id="babylist" class="mui-popover babylist">
  <ul class="mui-table-view">
  </ul>
</div><!-- 孩子选择弹出窗结束 -->

<!-- 身体记录添加 -->
<div class="mui-popover scrollerBox newbodyIndex">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">身体指标</h1>
	</header>
	<input id="scroller" name="scroller" />
	<div class="mui-content-padded indexInputBox">
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>身高</label>
				<input id="baby_height" type="text" class="mui-input-clear" placeholder="单位cm">
			</div>
			<div class="mui-input-row">
				<label>体重</label>
				<input id="baby_weight" type="text" class="mui-input-clear" placeholder="单位kg">
			</div>
			<div id="bodyIndexId" class="hide_id"></div>
			<div class="mui-button-row">
				<button id="abi-confirm-btn" class="mui-btn mui-btn-primary confirm-btn" onclick="return false;">确认</button>&nbsp;&nbsp;
				<button id="abi-cancel-btn" class="mui-btn mui-btn-primary cancel-btn" onclick="return false;">取消</button>
			</div>
		</form>
		<div class="nbi-Tips infTips"></div>
	</div>	
</div><!-- 身体记录添加结束 -->

<!-- 成绩表单添加 -->
<div id="newMark" class="mui-popover scrollerBox newmark">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">成绩表单</h1>
	</header>
	<input id="scroller_mark" name="scroller" />
	<div class="mui-content-padded indexInputBox">
		<form class="mui-input-group">
			<div id="gradeDate" class="mui-input-row">
				<!-- <div id="dateVacBox" class="dateBox_vac">
						<img  class="dateImg_vac popover_date_img" src="@{'/public/images/client/date.png'}" alt=""/>
						<span class="dateNo popover_dateNo"></span>
				</div> -->
				<label>日期</label>
				<input id="gradeDate_input" type="text" placeholder="日期输入" class="dateBox_vac">
			</div>
			<div class="mui-input-row">
				<label>成绩</label>
				<input id="baby_mark" type="text" class="mui-input-clear" placeholder="单位(分)">
			</div>
			<div id="gradeFormId" class="hide_id"></div>
			<div class="mui-button-row">
				<button id="amark-confirm-btn" class="mui-btn mui-btn-primary confirm-btn" onclick="return false;">确认</button>&nbsp;&nbsp;
				<button id="amark-cancel-btn" class="mui-btn mui-btn-primary cancel-btn" onclick="return false;">取消</button>
			</div>
		</form>
		<div class="ngf-Tips infTips"></div>
	</div>
	
</div><!-- 成绩表单添加结束 -->

<!-- 科目选择添加 -->
<div class="mui-popover scrollerBox chooseSubject">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">科目选择</h1>
	</header>
	<input id="scroller_subject" name="scroller" />
	<div class="mui-content-padded indexInputBox">
		<form class="mui-input-group">
			<div class="mui-button-row">
				<button id="subject-confirm-btn" class="mui-btn mui-btn-primary confirm-btn" onclick="return false;">确认</button>&nbsp;&nbsp;
				<button id="subject-cancel-btn" class="mui-btn mui-btn-primary cancel-btn" onclick="return false;">取消</button>
			</div>
		</form>
	</div>
	
</div><!-- 科目选择结束 -->

<!-- <link rel="stylesheet" href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.custom-2.14.4.min.css'}"  rel="stylesheet"/>
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>


<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.core.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.frame.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.scroller.js'}"></script>

<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.select.js'}"></script>
<script src="@{'/public/javascripts/client/baby.js'}"></script>
<script src="@{'/public/javascripts/Chart.min.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll-2.14.4-crack.js'}" type="text/javascript"></script> -->
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.util.datetime.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.datetimebase.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.datetime.js'}"></script>
<script src="@{'/public/javascripts/client/mobiscroll/i18n/mobiscroll.i18n.zh.js'}"></script>