<script id="babyTpl" type="text/template">
	{@each babyList as baby}
	<li class="mui-table-view-cell mui-media">
		<a href="babyRecord" class="mui-navigate-right item-babyList">
			{@if baby.headImgUrl == null || "" == baby.headImgUrl}
			<img class="mui-media-object mui-pull-left chlid-img" src="http://dcloudio.github.io/mui/assets/img/shuijiao.jpg">
			{@else}
			<img class="mui-media-object mui-pull-left chlid-img" src="${baby.headImgUrl}">
			{@/if}
			
			<div class="mui-media-body">
				${baby.name}
				
				<div id="test"  class="sexAndAge">
					{@if baby.sex == "男"}
					<img src="/public/images/client/boy.png" alt=""/>
					{@else}
					<img src="/public/images/client/girl.png" alt=""/>
					{@/if}
					<span class="age">${baby.dateStr}岁</span>
				</div>
				
			</div>
			<div class="babyId">${baby.id}</div>
		</a>
	</li>
	{@/each}
</script>
	