#{extends 'client.html' /}
#{set title:'宝宝资料' /}
<header class="mui-bar mui-bar-nav babyTitle">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" href="/Client/myBaby"></a>
  <h1 class="mui-title">宝宝资料</h1>
</header>

<div class="babyInf-box">
<ul class="mui-table-view infList-baby-headImg">
	<li id="item-baby-headImg" class="mui-table-view-cell item-headImg">
      <div class="item-baby-Inf">
      	<img id="baby-headImg" class="mui-media-object mui-pull-right chlid-img" src="http://dcloudio.github.io/mui/assets/img/shuijiao.jpg">
      </div>
      头像
  </li>

</ul>

<ul class="mui-table-view infList-baby-inf">
  <li id="item-baby-name" class="mui-table-view-cell">
      <div id="baby-name" class="item-baby-Inf"></div>
      小名
  </li>
  <li id="item-baby-sex" class="mui-table-view-cell" >
    <div id="baby-sex" class="item-baby-Inf"></div>
      性别
  </li>
  <li id="item-baby-btd" class="mui-table-view-cell" >
    <div id="baby-birthday" class="item-baby-Inf"></div>
      生日
  </li>
</ul>
</div>

<!-- 小名修改模块 -->
<div class="form-model mui-popover mn-model">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">修改小名</h1>
	</header>
	<form class="mui-input-group">
		<div class="mui-input-row">
			<label>小名</label>
			<input id="bn-input" type="text" class="mui-input-clear" placeholder="请输入小名">
		</div>
		<div class="mui-button-row">
			<button id="mbn-confirm-btn" class="mui-btn mui-btn-primary confirm-btn" onclick="return false;">确认</button>&nbsp;&nbsp;
			<button id="mbn-cancel-btn" class="mui-btn mui-btn-primary cancel-btn" onclick="return false;">取消</button>
		</div>
		
	</form>
	<div class="mn-tips infTips"></div>
</div>

<!-- 性别修改模块 -->
<div class="form-model mui-popover ms-model">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">宝宝性别</h1>
	</header>
	<ul class="mui-table-view sex-baby-list">
		<li class="mui-table-view-cell mui-radio mui-left item-sex-baby">
			<input id="male-radio" class="sex-radio" name="sex-radio" type="radio" value="男" checked>男
		</li>
		<li class="mui-table-view-cell mui-radio mui-left item-sex-baby">
			<input id="female-radio" class="sex-radio" name="sex-radio" value="女" type="radio">女
		</li>
	</ul>
</div>

<!-- 操作结果信息 -->
<div class="infTips response-tips">
	
</div>

<link rel="stylesheet" href="@{'/public/stylesheets/client/baby.css'}">
<style rel="stylesheet">
body{
	background:#eee;	
}
</style>
#{set 'moreScripts'}
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<link rel="stylesheet" href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.custom-2.14.4.min.css'}"  rel="stylesheet"/>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll-2.14.4-crack.js'}" type="text/javascript"></script>
<script>
	$(function(){
		var babyId = localStorage.babyId;
		// alert(babyId);
		/*加载宝宝详细资料*/
		$.post("/CBabyAction/loadBabyInf",{
			babyId: babyId
		},function(data){
			if(data.result==0){
				$("#baby-name").text(data.data.name);
				$("#baby-sex").text(data.data.sex);
				$("#baby-birthday").text(data.data.dateStr);
				$(".babyInf-box").show();
			}
		});

		/*更换宝宝头像*/
		document.getElementById("item-baby-headImg").addEventListener("tap",function(){
			console.log("更换头像");
			wx.chooseImage({
			    success: function (res) {
			    	//返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			    	var localIds = res.localIds; 
			    	// alert(localIds.toString());
			    	var localId = localIds[0];
			    	alert(localId);
			    	$("#baby-headImg").attr("src",localId);

			    	//上传头像图片
			    	wx.uploadImage({
					    localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
					    isShowProgressTips: 0, // 默认为1，显示进度提示
					    success: function (res) {
					        var serverId = res.serverId; // 返回图片的服务器端ID
					        alert(serverId);
					        // $("#baby-headImg").attr("src",serverId);
					        $.post("/CBabyAction/downloadBabyImg",{
					        	babyId:babyId,
					        	media_id:serverId
					        },function(data){
					        	if(data.result==0){
					        		alert("从微信服务器下载头像成功");
					        		$("#baby-headImg").attr("src",data.headImgUrl);
					        	}else{
					        		alert("Error");
					        	}
					        	
					        });
					    }
					});
				}
			});
		});

		/*展示修改小名模态框*/
		document.getElementById("item-baby-name").addEventListener("tap",function(){
			mui('.mn-model').popover('toggle');
		});

		/*展示修改性别模态框*/
		document.getElementById("item-baby-sex").addEventListener("tap",function(){
			// console.log($("#baby-sex").text());
			if($("#baby-sex").text()=="男"){
				$("#male-radio").trigger("click");
			}else if($("#baby-sex").text()=="女"){
				$("#female-radio").trigger("click");
			}
			mui('.ms-model').popover('toggle');
		});

		/*展示日期控件,修改生日*/
		$("#item-baby-btd").mobiscroll().calendar({
				theme:'ios',
				lang:'zh',
				display:'bottom',
				endYear:new Date().getFullYear(), 
				onSelect:function(valueText,inst){
					if(inst.getDate()<=new Date()){
						$.post("/CBabyAction/modifyBabyBtd",{
							babyId:babyId,
							date:valueText
						},function(data){
							if(data.result==0){//修改成功
								$("#baby-birthday").text(valueText);
							}
							showResTips(data.data);
						});
					}
				}
		});

		/*确认修改小名*/
		document.getElementById("mbn-confirm-btn").addEventListener("tap",function(){
			var name = $("#bn-input").val();
			if("" == name){//名字为空
				$(".mn-tips ").text("小名不能为空!");
				$(".mn-tips ").show();
			}else{
				$.post("/CBabyAction/modifyBabyName",{
					babyId:babyId,
					name:name
				},function(data){
					if(data.result == 0 ){//操作成功
						$("#baby-name").text(name);
						mui('.mn-model').popover('toggle');
						showResTips("操作成功！")
					}else{

					}
					recoverMnBox();
				});
			}
			
		});

		/*取消修改小名*/
		document.getElementById("mbn-cancel-btn").addEventListener("tap",function(){
			mui('.mn-model').popover('toggle');
		});

		/*隐藏小名提示*/
		$("#bn-input").bind("focus", function(e) {  
                $(".mn-tips ").text("");
				$(".mn-tips ").hide();
        });

        /*修改性别为男*/	
		$(".item-sex-baby").bind('touchend',function(){
			var sex = $('input:radio[name="sex-radio"]:checked').val();
			var tap_sex = $(this).children(".sex-radio").val();
			if(sex == tap_sex){
				return 0;
			}else{
				if(tap_sex == "男"){
					modifyBabySex(babyId,"男");
				}else if(tap_sex == "女"){
					modifyBabySex(babyId,"女");
				}
				
			}
		});

		
	});

	/*展示操作信息*/
	function showResTips(result){
		$(".response-tips").text(result);
		$(".response-tips").show();
		window.setTimeout("hideTips()",1500);
	}

	/*隐藏信息提示，并清空*/
	function hideTips(){
		$(".response-tips").text("");
		$(".response-tips").hide();
	}

	/*复原小名修改框*/
	function recoverMnBox(){
		hideTips();
		$("#bn-input").val("")
	}

	/*修改性别---提交数据库*/
	function modifyBabySex(babyId,sex){
		console.log(babyId,sex)
		$.post("/CBabyAction/modifyBabySex",{
			babyId:babyId,
			sex:sex
		},function(data){
			if(data.result==0){//修改成功
				$("#baby-sex").text(sex);
			}
			showResTips(data.data);
			mui('.ms-model').popover('toggle');
		});
	}
</script>

<script type="text/javascript">
	$(function(){
		/* ajax调用获得接口信息 */
		$.get("/WeChat/jsApiCall?url="+location.href.split('#')[0],function(data,status){
			/*获取接口配置信息*/
			var timestamp = data.data.timestamp;
			var nonceStr = data.data.nonceStr;
			var signature = data.data.signature;
		    /* 配置微信接口信息 */
			wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: 'wx485f2bc0867fe1c2', // 必填，公众号的唯一标识
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: nonceStr, // 必填，生成签名的随机串
			    signature: signature,// 必填，签名，见附录1
			    jsApiList: ['chooseImage','previewImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});
		});
		
		wx.ready(function(){
	    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
		});

		wx.error(function(res){
	    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});
	})
</script>
#{/set}