#{extends 'client.html' /}
#{set title:'记录详情' /}
#{set 'moreStyles'}

<link rel="stylesheet" href="@{'/public/stylesheets/client/growthDetail.css'}"/>

#{/set}
<header class="mui-bar mui-bar-nav babyTitle">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" href="/client/babyRecord"></a>
  <!-- <a id="list_children" class="mui-icon mui-icon-bars mui-pull-right"></a> -->
  <h1 id="title-babyGrowth" class="mui-title">记录详情</h1>
</header>

<!-- 选项卡 -->
<div  class="mui-slider gdSlider">
	<!-- <div class="test"> -->
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item" href="#biDetailData">
				历史记录
			</a>
		<a class="mui-control-item" href="#biDetailAnaly">
				图表分析
			</a>
	<!-- 	<a class="mui-control-item" href="#item3mobile">
				建议
			</a> -->
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>

	<div class="mui-slider-group growthDtailContent">
		<!-- card1历史记录 -->
		<div id="biDetailData" class="mui-slider-item mui-control-content gdCard mui-active ">
			<!-- 加载显示 -->
			<div class="mui-loading loading-bi">
				<div class="mui-spinner">
				</div>
			</div>
			
			<!-- 历史记录内容区 -->
			<div class="cardCotent-gd">
				<table id="biDetailTable" class="growthTable">
				</table>
			</div>
			<!-- 历史记录内容区结束 -->

			<!-- 翻页 -->
			<div class="mui-content-padded turnPage_bi_h turnPage_bi">
				<ul class="mui-pager">
					<li>
						<a id="lastPage_bi_h" href="#">
								上一页
							</a>
					</li>
					<li>
						<a id="nextPage_bi_h" class="disablePageBtn" href="#">
								下一页
							</a>
					</li>
				</ul>
			</div><!-- 翻页结束 -->
		</div>
		<!-- card1历史记录结束 -->

		<!-- card2图表分析 -->
		<div id="biDetailAnaly" class="mui-slider-item mui-control-content gdCard ">
			<!-- 加载显示 -->
			<!-- <div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div> -->

			<!-- 图表分析内容区 -->
			<div class="cardCotent-gd content-chart">

				<!-- 只有一条数据的时候显示 -->
				<div class="oneData oneData-height">
					<p>年龄:<span id="oneDataVal-age-h"></span> &nbsp;身高:<span id="oneDataVal-baby-h"></span>cm &nbsp;标准:<span id="oneDataVal-stander-h"></span>cm</p>
				</div>

				<!-- 身体指标图表模块 -->
				<div id="chartbox_bi_dh" class="charBox">
					<div class="unitDesc">cm</div>
					<div class="mark_chart">
						<div class="standerDesc">
							<div class="line-stander"></div>标准
							
						</div>
						<div class="babyDesc">
							<div class="line-baby"></div>宝宝
						</div>
					</div>
					<!-- 图表区域，展示最近动态 -->
					<canvas id="bodyDetailHChart" height="150"></canvas>
					
				</div><!-- 身体指标图表模块结束 -->
			</div>
			<!-- 图表分析内容区结束 -->

			<!-- 图表分析内容区 -->
			<div class="cardCotent-gd content-chart">
				<!-- 只有一条数据的时候显示 -->
				<div class="oneData oneData-weight">
					<p>年龄:<span id="oneDataVal-age-w">18岁</span> &nbsp;体重:<span id="oneDataVal-baby-w">55</span>kg &nbsp;标准:<span id="oneDataVal-stander-w">56</span>kg</p>
				</div>

				<!-- 身体指标图表模块 -->
				<div id="chartbox_bi_dw" class="charBox">
					<div class="unitDesc">kg</div>
					<div class="mark_chart">
						<div class="standerDesc">
							<div class="line-stander"></div>标准
							
						</div>
						<div class="babyDesc">
							<div class="line-baby"></div>宝宝
						</div>
					</div>
					<!-- 图表区域，展示最近动态 -->
					<canvas id="bodyDetailWChart" height="150"></canvas>
					
				</div><!-- 身体指标图表模块结束 -->
			</div>
			<!-- 图表分析内容区结束 -->
			
			<!-- 更换年龄 -->
			<div class="changeAge">
				<a id="lastPage" href="#" class="lastPage">
					<span class="mui-icon mui-icon-arrowleft"></span>
				</a>
				<a id="nextPage" href="#" class="nextPage">
					<span class="mui-icon mui-icon-arrowright"></span>
				</a>
			</div>
		</div>
		<!-- card2图表分析结束 -->

		<!-- card3建议 -->
		<!-- <div id="item3mobile" class="mui-slider-item mui-control-content">
			
			<div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div>

		</div> -->
		<!-- card3建议结束 -->
	</div>
	
</div>

<!-- 操作结果信息 -->
<div class="infTips response-tips">
	<!-- asdf -->
</div>
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>
<script src="@{'/public/javascripts/Chart.min.js'}"></script>

<script>
var babyAge = ["初生儿","2月","4月","6月","9月","1岁","1岁3月","1岁半","1岁9月","2岁","2岁半","3岁","3岁半","4岁","4岁半","5岁","5岁半","6岁","6岁半","7岁","7岁半","8岁","8岁半","9岁","9岁半","10岁","10岁半","11岁","11岁半","12岁","12岁半","13岁","13岁半","14岁","14岁半","15岁","15岁半","16岁","16岁半","17岁","18岁"];
var standerH_male = [50.4,54.8,58.7,62,64.6,66.7,68.4,69.8,71.2,72.6,74,75.3,76.5,82.7,88.5,93.3,97.5,100.6,104.1,107.7,111.3,114.7,117.7,120.7,124,130,135.4,140.2,145.3,151.9,159.5,165.9,169.8,171.6,172.3,172.7];
var standerH_female =[49.7,53.7,57.4,60.6,63.1,65.2,66.8,68.2,69.6,71,72.4,73.7,75,81.5,87.2,92.1,96.3,99.4,103.1,106.7,110.2,113.5,116.6,119.4, 122.5,128.5,134.1,140.1,146.6,152.4,156.3,158.6,159.8,160.1,160.3,160.6];
var standerW_male = [3.32,4.51,5.68,6.7,7.45,8,8.41,8.76,9.05,9.33,9.58,9.83,10.05,11.29,12.54,13.64,14.65,15.63,16.64,17.75,18.98,20.18,21.26,22.45,24.06,27.33,30.46,33.74,37.69,42.49,48.08,53.37,57.08,59.35,60.68,61.40];
var standerW_female = [3.21,4.2,5.21,6.13,6.83,7.36,7.77,8.11,8.41,8.69,8.94,9.18,9.4,10.65,11.92,13.05,14.13,15.16,16.17,17.22,18.26,19.33,20.37,21.44,22.64,25.25,18.19,31.76,36.10,40.77,44.79,47.83,49.82,50.81,51.20,51.41];

var upH_male = [54.0,63.3,69.3,73.3,77.8,82.1,85.8, 89.1,92.4,95.8,101.0,104.6,108.6,112.3,116.2,120.1,123.8,127.2,130.5,134.3,137.8,141.1,144.2,147.2,150.1,152.7,155.7,158.9,162.6,166.9,171.1,175.1,178.1,180.2,181.8,182.8,183.6,184.0,184.3,184.5,184.7];
var upH_female =[53.2,61.8,67.7,71.5,76.2,80.5,84.3,87.7,91.1,94.3,99.8,103.4,107.2,111.1,115.2,118.9,122.6,126.0,129.2,132.7,136.1,139.4,142.6,145.8,149.2,152.8,156.3,160.0,162.9,165.3,167.1,168.3,169.2,169.9,170.4,170.8,171.1,171.0,171.0,171.0,171.3];
var lowH_male =[46.9,54.3,60.1,63.7 ,67.6, 71.2, 74.0 ,76.6 ,79.1 ,81.6 ,85.9 ,89.3 ,93.0 ,96.3 ,99.5 ,102.8, 105.9 ,108.6, 111.1, 114.0, 116.8, 119.3, 121.6, 123.9, 126.0, 127.9, 130.0, 132.1, 134.5, 137.2, 140.2, 144.0, 147.9, 151.5, 154.5, 156.7, 158.3, 159.1, 159.7, 160.1, 160.5];
var lowH_female =[46.4,53.2,58.8,62.3,66.1,69.7,72.9,75.6,78.1,80.5,84.8,88.2,91.9,95.4,98.7,101.8,104.9,107.6,110.1,112.7,115.4,117.9,120.3,122.6,125.0,127.6,130.3,133.4,136.5,139.5,142.1,144.2,146.0,147.2,148.2,148.8,149.2,149.2,149.3,149.5,149.8];

var upW_male =[4.18,7.14,9.32,10.50,11.64,12.54,13.32,14.09,14.90,15.67,17.06,18.37,19.65,20.01,22.57,24.38,26.24,28.03,30.13,33.08,36.24,39.41,42.54,45.52,48.51,51.38,54.37,57.58,60.96,64.68,68.51,72.60,76.16,79.07,81.11,82.45,83.32,83.85,84.21,84.45,84.72];
var upW_female =[4.10,6.60,8.59,9.73,10.86,11.73,12.50,13.29,14.12,14.92,16.39,17.81,19.17,20.54,22.00,23.50,25.12,26.74,28.46,30.45,32.64,34.94,37.49,40.32,43.54,4.15,50.92,54.78,58.21,61.22,63.44,64.99,66.03,66.77,67.28,67.61,67.82,67.93,68.00,68.04,68.10];
var lowW_male = [2.58, 4.47, 5.91, 6.70, 7.46, 8.06, 8.57, 9.07, 9.59, 10.09, 10.97, 11.79, 12.57, 13.35, 14.18, 15.06, 15.87, 16.56, 17.27, 18.20, 19.11, 19.97, 20.79, 21.62, 22.50, 23.40, 24.43, 25.64, 26.96, 28.41, 30.01, 32.04, 34.22, 36.54, 38.71, 40.63, 42.26, 43.51, 44.54, 45.28, 46.27];
var lowW_female =[2.54,4.15,5.48,6.26,7.03,7.61,8.12,8.63,9.15,9.64,10.52,11.36,12.16,12.93,13.71,14.44,15.18,15.87,16.55,17.31,18.10,18.88,19.71,20.56,21.49,22.54,23.74,25.23,26.89,28.77,30.64,32.50,34.23,35.80,37.13,38.16,38.94,39.39,39.72,39.88,40.15];

	var item1Show = false;//身体指标历史记录
	var item2Show = false;//身体指标图标分析

	var biData = null;
	var isLoad = false;
	// var isLoad_ = false;

	var starderH_all;//标准身高全部数据
	var starderW_all;//标准体重全部数据

	var page;//总页数
	var maxPage_biH; //历史记录总页数
	var maxPage_biC;//图表总页数
	var currentPage = 1;//当前页
	var currentPage_h = 1;//当前页-历史记录
	var currentPage_c = 1;//当前页-图表记录
	var lastData_c = null;//上一次记录-图表
	$(function(){
		/*加载身体指标历史记录*/
		loadBiData(1);
		loadBiPageSize(false);
		console.log(standerH_male);

		document.querySelector('.gdSlider').addEventListener('slide', function(event){
			activeTab_grow = event.detail.slideNumber;//当前活跃tab
 			if (event.detail.slideNumber === 0 &&!item1Show){
 				/*加载身体指标历史记录*/
				// loadBiData();

 			}else if(event.detail.slideNumber === 1 &&!item2Show){
 				/*加载身体指标图表*/
 				loadChartData(1);
 				loadBiPageSize(true);
 				item2Show = true;
 				// loadBiChart();
 			}
		});

		/*上一页按钮点击事件*/
    	document.getElementById("lastPage_bi_h").addEventListener("tap",function(event){
    		if(!$(this).hasClass("disablePageBtn")){//按钮可用
    			loadBiData(currentPage_h+1);

    		}
    	});

		document.getElementById("lastPage").addEventListener("tap",function(){
			if(!$(this).hasClass("disablePage")){
				// showPageNumchart(currentPage+1);
				loadChartData(currentPage_c+1);
			}
		});

		/*下一页按钮点击事件*/
    	document.getElementById("nextPage_bi_h").addEventListener("tap",function(event){
    		if(!$(this).hasClass("disablePageBtn")){//按钮可用
    			loadBiData(currentPage_h-1);

    		}
    	});

		document.getElementById("nextPage").addEventListener("tap",function(){
			if(!$(this).hasClass("disablePage")){
				// showPageNumchart(currentPage-1);
				loadChartData(currentPage_c - 1);
			}
		});


	});

	/*加载历史记录*/
	function loadBiData(page){
		$.post("/CBabyAction/loadAllBiData",{
			babyId:localStorage.babyId,
			hasStander:false,
			page:page
		},function(data){
			var htmlData = "";
			isLoad = true;
			biData = data;

			$("#biDetailData .mui-loading").hide();
			if(data.result == 0){//成功
				currentPage_h = page;
				console.log("现在显示的是身高体重历史记录第" + page+ "页")
				htmlData = "<tr class='tableTitle'>"
						+"<td>身高(cm)</td>"
						+"<td>体重(kg)</td>"
						+"<td>&nbsp;&nbsp;&nbsp;年龄&nbsp;&nbsp;&nbsp;</td>"
					+"</tr>";
				var length = data.data.length;				

				for(var i = 0 ; i < length ; i++){
					var bodyIndex = data.data[i];
					htmlData += "<tr  class='bi-line'><td>"+bodyIndex.height+"</td><td>"+bodyIndex.weight+"</td><td>"+bodyIndex.detailAge+"</td></tr>"
				}
				$("#lastPage_bi_h").removeClass("disablePageBtn");
				$("#nextPage_bi_h").removeClass("disablePageBtn");
				if(currentPage_h == maxPage_biH){//最后一页了
					$("#lastPage_bi_h").addClass("disablePageBtn");
				}else if(currentPage_h == 1){
					$("#nextPage_bi_h").addClass("disablePageBtn");
				}
			}else{
				if(data.data == "null"){
					htmlData = "<tr><td>你还没有记录哦！赶快去录入吧！</td></tr>";
				}else{
					htmlData = "<tr><td>噢噢，出错了！</td></tr>";
				}
			}
			$("#biDetailTable").html(htmlData);
		})
	};

	/*加载总记录数*/
	function loadBiPageSize(hasStander){
		$.post("/CBabyAction/loadBiPageSize",{
			babyId:localStorage.babyId,
			hasStander:hasStander
		},function(data){
			if(data.result == 0){//成功
				 var page = data.data;
				 if(hasStander == true){//图表记录页数
					maxPage_biC = page;
					console.log("图表记录页数："+maxPage_biC);
					if(maxPage_biC > 1){
						console.log("记录大于1页");
				 	// $(".turnPage_gf_h").show();
				 		$(".turnPage_bi").show();
					}else{
				 		lastData_c = null;
				 		console.log("记录小于1页");
				 	// $(".turnPage_gf_h").hide();
				 		$(".turnPage_bi").hide();
				 	}
				 }else{//历史记录页数
				 	maxPage_biH = page;
				 	if(maxPage_biH > 1){
				 		console.log("记录大于1页");
				 	// $(".turnPage_gf_h").show();
				 		$(".turnPage_bi").show();
					}else{
						console.log("记录小于1页");
				 		lastData = null;
				 	// $(".turnPage_gf_h").hide();
				 		$(".turnPage_bi").hide();
				 	}
				 }
				 console.log("记录共"+page+"页");
				 
			}
		})
	};

	/*---------------加载身体指标-图表数据-------------*/
	function loadChartData(page){
		$.post("/CBabyAction/loadAllBiData",{
			babyId:localStorage.babyId,
			hasStander:true,
			page:page
		},function(data){
			if(data.result == 0){//成功
				currentPage_c = page;
				loadBiChart(data.data);
				var length = data.data.length;		
				if(length == 6){
					lastData_c = data.data;
				}	
			}else{//失败

			}
		});
	};

	/*---------------加载身体指标图表分析---------------*/
	function loadBiChart(bodyIndexList){
		if(isLoad == true){
			var count = bodyIndexList.length;
			var maxAgeIndex = 0;

			var labels = new Array();
			var data_height = new Array();//宝宝身高数据
			var stander_height = new Array();//宝宝记录对应年龄的身高标准数据
			var up_height = new Array();//宝宝+2Sd
			var low_height = new Array();//宝宝-2Sd
			var starderH_all;//标准身高全部数据
			var upH_all;
			var lowH_all;

			var data_weight = new Array();//宝宝体重数据
			var stander_weight = new Array();//宝宝记录对应年龄的体重标准数据
			var up_weight = new Array();//宝宝+2Sd
			var low_weight = new Array();//宝宝-2Sd
			var starderW_all;//标准身高全部数据
			var upW_all;
			var lowW_all;

			if(count == 1 && lastData_c == null){
				$(".oneData-height").text("只有一条数据哦！");
				$(".oneData-height").show();

				$(".oneData-weight").text("只有一条数据哦！");
				$(".oneData-weight").show();
				$("#chartbox_bi_h").hide();
				$("#chartbox_bi_w").hide();
				showResTips("多添加数据，可以展示炫酷的图表哦！");
				return ;
			}else if(lastData_c != null && count != 6){
				console.log(maxPage_biC +"---"+ currentPage_c);
				var addNum = 6 - count;
				console.log("要拼接" + addNum + "条数据");
				var temp = new Array();// = lastData;
				// console.log(lastData[0].date);
				for(var i = 0; i < addNum; i++){
					console.log(lastData_c[i]);
					// console.log();
					temp.push(lastData_c[count+i]);
					// temp[5-i] = gradeFormList[i];

					
				}
				for(var i = 0 ; i < count; i++){
					temp.push(bodyIndexList[i]);
				}
				bodyIndexList = temp;
				console.log("拼接完成");
				console.log(bodyIndexList);
				count = 6;
			}

			

			if(localStorage.sex == "男"){
				starderH_all = standerH_male;
				starderW_all = standerW_male;
				upH_all = upH_male;
				lowH_all = lowH_male;
				upW_all = upW_male;
				lowW_all = lowW_male;
			}else{
				starderH_all = standerH_female;
				starderW_all = standerW_female;
				upH_all = upH_female;
				lowH_all = lowH_female;
				upW_all = upW_female;
				lowW_all = lowW_female;
			}

			var i = 0,vlen = babyAge.length;
			
			for(var i = 0; i < count; i++){
				for(j=0 ; j < vlen; j++){ 
					
					if(bodyIndexList[count-1-i].ageDcb == babyAge[j]){ 
						console.log(bodyIndexList[count-1-i].ageDcb+"--i="+i+"---j="+j);
						up_height[i]  = upH_all[j];
						low_height[i]  = lowH_all[j];

						up_weight[i]  = upW_all[j];
						low_weight[i]  = lowW_all[j];
					}
				}
					
			}
			for(var i = 0;i<count ; i++){
				labels[i] = bodyIndexList[count-i-1].ageDcb;
				data_height[i] = bodyIndexList[count-i-1].height;
				data_weight[i] = bodyIndexList[count-i-1].weight;
			}			

			$(".oneData-height").hide();
			$(".oneData-weight").hide();
			$("#chartbox_bi_h").show();
			$("#chartbox_bi_w").show();

			showBiChart(labels,up_height,data_height,low_height);
			showWeightChart(labels,up_weight,data_weight,low_weight);

			// $(".nextPage").addClass("disablePage");
			// if(page == 1){
			// 	$(".lastPage").addClass("disablePage");
			// }

			$(".lastPage").removeClass("disablePage");
			$(".nextPage").removeClass("disablePage");
			console.log(currentPage_c+"---"+maxPage_biC);
			if(currentPage_c == maxPage_biC){//最后一页了
					$(".lastPage").addClass("disablePage");
			}else if(currentPage_c == 1){
					$(".nextPage").addClass("disablePage");
			}
			// console.log("从"+startIndex+"-"+endIndex);
			// console.log("共"+page+"页数据,当前为第"+currentPage+"页");
		}
	}//结束图表分析


	/*展示身体指标图表*/
	function showBiChart(labels,up_height,data_height,low_height){
		var options = {};
		// console.log(labels);
		// console.log(up_height);
		// console.log(data_height);
		// console.log(low_height);
		var data = {
			labels : labels,
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : up_height//stander_height
				}
				,
				{
					fillColor : "rgba(255,153,153,0.3)",
					strokeColor : "rgba(255,153,153,1)",
					pointColor : "rgba(255,153,153,1)",
					pointStrokeColor : "#fff",
					data : data_height
				}
				,
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : low_height//stander_height
				}
			]
		};

		var ctx_height = $("#bodyDetailHChart").get(0).getContext("2d");//.getContext("2d");
			
		$("#bodyDetailHChart").attr("width", $(window).get(0).innerWidth*0.95);
		$("#bodyDetailHChart").attr("height", 150);
		var chart_h = new Chart(ctx_height).Line(data,options);
	}

	/*展示体重图表*/
	function showWeightChart(labels,up_weight,data_weight,low_weight){
		var options = {};
		var data = {
			labels : labels,
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : up_weight
				}
				,
				{
					fillColor : "rgba(255,153,153,0.3)",
					strokeColor : "rgba(255,153,153,1)",
					pointColor : "rgba(255,153,153,1)",
					pointStrokeColor : "#fff",
					data : data_weight
				}
				,
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : low_weight
				}
			]
		};

		var ctx_height = $("#bodyDetailWChart").get(0).getContext("2d");//.getContext("2d");
			
		$("#bodyDetailWChart").attr("width", $(window).get(0).innerWidth*0.95);
		$("#bodyDetailWChart").attr("height", 150);
		var chart_h = new Chart(ctx_height).Line(data,options);
	}

	function showPageNumchart(pageNum){
		console.log("调用第"+pageNum+"页");
		var labels = new Array();
		var data_height = new Array();//宝宝身高数据
		var stander_height = new Array();//宝宝记录对应年龄的身高标准数据
		//var starderH_all;//标准身高全部数据

		var data_weight = new Array();//宝宝体重数据
		var stander_weight = new Array();//宝宝记录对应年龄的体重标准数据
		//var starderW_all;//标准身高全部数据

		/*计算数据开始index 与 结束index*/
		var startIndex = 0;
		var endIndex = 0;
		var length = biData.data.length;//总记录数

		startIndex = (pageNum - 1) * 6;
		endIndex = startIndex + 5;
		if(endIndex > length -1){
			endIndex = length -1;
			startIndex = endIndex -5;
		}

		var data = biData.data;
		var dataCount = endIndex - startIndex + 1;

		for(var i = 0; i < dataCount ; i++){
				labels[i] = data[endIndex-i].ageDcb;
				data_height[i] = data[endIndex-i].height;
				data_weight[i] = data[endIndex-i].weight;
		}

		var allStanderDataLength = starderH_all.length;
		for(var i = 0; i < dataCount; i++){
			for(j= 0; j < allStanderDataLength; j++){ 
					
				if(labels[i] == babyAge[j]){ 
					stander_height[i] = starderH_all[j];
					stander_weight[i] = starderW_all[j];
					break;
				}
			}
				
		}

		showBiChart(labels,data_height,stander_height);
		showWeightChart(labels,data_weight,stander_weight);
		currentPage = pageNum;
		console.log()
		if(pageNum == page){
			$("#lastPage").addClass("disablePage");
		}else{
			$("#lastPage").removeClass("disablePage");
		}
		if(pageNum == 1){
			$("#nextPage").addClass("disablePage");
		}else{
			$("#nextPage").removeClass("disablePage");
		}
		console.log("从"+startIndex+"-"+endIndex);
		console.log("共"+page+"页数据,当前为第"+currentPage+"页");

	}

/*展示操作信息*/
function showResTips(result){
		$(".response-tips").text(result);
		$(".response-tips").show();
		window.setTimeout("hideTips()",1500);
}

/*隐藏信息提示，并清空*/
function hideTips(){
		$(".response-tips").text("");
		$(".response-tips").hide();
}
</script>



