#{extends 'client.html' /}
#{set title:'记录详情' /}

<header class="mui-bar mui-bar-nav babyTitle">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" href="/client/babyRecord"></a>
  <!-- <a id="list_children" class="mui-icon mui-icon-bars mui-pull-right"></a> -->
  <h1 id="title-babyGrowth" class="mui-title">记录详情</h1>
</header>

<!-- 选项卡 -->
<div  class="mui-slider gdSlider">
	<!-- <div class="test"> -->
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item" href="#biDetailData">
				历史记录
			</a>
		<a class="mui-control-item" href="#biDetailAnaly">
				图表分析
			</a>
	<!-- 	<a class="mui-control-item" href="#item3mobile">
				建议
			</a> -->
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>

	<div class="mui-slider-group growthDtailContent">
		<!-- card1历史记录 -->
		<div id="biDetailData" class="mui-slider-item mui-control-content gdCard mui-active ">
			<!-- 加载显示 -->
			<div class="mui-loading loading-bi">
				<div class="mui-spinner">
				</div>
			</div>
			
			<!-- 历史记录内容区 -->
			<div class="cardCotent-gd">
				<table id="biDetailTable" class="growthTable">
				</table>
			</div>
			<!-- 历史记录内容区结束 -->
		</div>
		<!-- card1历史记录结束 -->

		<!-- card2图表分析 -->
		<div id="biDetailAnaly" class="mui-slider-item mui-control-content gdCard ">
			<!-- 加载显示 -->
			<!-- <div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div> -->

			<!-- 图表分析内容区 -->
			<div class="cardCotent-gd content-chart">

				<!-- 只有一条数据的时候显示 -->
				<div class="oneData oneData-height">
					<p>年龄:<span id="oneDataVal-age-h"></span> &nbsp;身高:<span id="oneDataVal-baby-h"></span>cm &nbsp;标准:<span id="oneDataVal-stander-h"></span>cm</p>
				</div>

				<!-- 身体指标图表模块 -->
				<div id="chartbox_bi_dh" class="charBox">
					<div class="unitDesc">cm</div>
					<div class="mark_chart">
						<div class="standerDesc">
							<div class="line-stander"></div>标准
							
						</div>
						<div class="babyDesc">
							<div class="line-baby"></div>宝宝
						</div>
					</div>
					<!-- 图表区域，展示最近动态 -->
					<canvas id="bodyDetailHChart" height="150"></canvas>
					
				</div><!-- 身体指标图表模块结束 -->
			</div>
			<!-- 图表分析内容区结束 -->

			<!-- 图表分析内容区 -->
			<div class="cardCotent-gd content-chart">
				<!-- 只有一条数据的时候显示 -->
				<div class="oneData oneData-weight">
					<p>年龄:<span id="oneDataVal-age-w">18岁</span> &nbsp;体重:<span id="oneDataVal-baby-w">55</span>kg &nbsp;标准:<span id="oneDataVal-stander-w">56</span>kg</p>
				</div>

				<!-- 身体指标图表模块 -->
				<div id="chartbox_bi_dw" class="charBox">
					<div class="unitDesc">kg</div>
					<div class="mark_chart">
						<div class="standerDesc">
							<div class="line-stander"></div>标准
							
						</div>
						<div class="babyDesc">
							<div class="line-baby"></div>宝宝
						</div>
					</div>
					<!-- 图表区域，展示最近动态 -->
					<canvas id="bodyDetailWChart" height="150"></canvas>
					
				</div><!-- 身体指标图表模块结束 -->
			</div>
			<!-- 图表分析内容区结束 -->
			
			<!-- 更换年龄 -->
			<div class="changeAge">
				<a id="lastPage" href="#" class="lastPage">
					<span class="mui-icon mui-icon-arrowleft"></span>
				</a>
				<a id="nextPage" href="#" class="nextPage">
					<span class="mui-icon mui-icon-arrowright"></span>
				</a>
			</div>
		</div>
		<!-- card2图表分析结束 -->

		<!-- card3建议 -->
		<!-- <div id="item3mobile" class="mui-slider-item mui-control-content">
			
			<div class="mui-loading">
				<div class="mui-spinner">
				</div>
			</div>

		</div> -->
		<!-- card3建议结束 -->
	</div>
	
</div>

<!-- 操作结果信息 -->
<div class="infTips response-tips">
	<!-- asdf -->
</div>

<link rel="stylesheet" href="@{'/public/stylesheets/client/growthDetail.css'}"/>
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>
<script src="@{'/public/javascripts/Chart.min.js'}"></script>

<script>
var babyAge = ["初生儿","1个月","2个月","3个月", "4个月", "5个月", "6个月", "7个月", "8个月", "9个月", "10个月", "11个月", "1岁", "1岁半", "2岁", "2岁半", "3岁", "3岁半", "4岁", "4岁半",  "5岁", "5岁半", "6岁", "6岁半", "7岁", "8岁","9岁","10岁","11岁","12岁","13岁","14岁","15岁", "16岁", "17岁", "18岁"];
var standerH_male = [50.4,54.8,58.7,62,64.6,66.7,68.4,69.8,71.2,72.6,74,75.3,76.5,82.7,88.5,93.3,97.5,100.6,104.1,107.7,111.3,114.7,117.7,120.7,124,130,135.4,140.2,145.3,151.9,159.5,165.9,169.8,171.6,172.3,172.7];
var standerH_female =[49.7,53.7,57.4,60.6,63.1,65.2,66.8,68.2,69.6,71,72.4,73.7,75,81.5,87.2,92.1,96.3,99.4,103.1,106.7,110.2,113.5,116.6,119.4, 122.5,128.5,134.1,140.1,146.6,152.4,156.3,158.6,159.8,160.1,160.3,160.6];
var standerW_male = [3.32,4.51,5.68,6.7,7.45,8,8.41,8.76,9.05,9.33,9.58,9.83,10.05,11.29,12.54,13.64,14.65,15.63,16.64,17.75,18.98,20.18,21.26,22.45,24.06,27.33,30.46,33.74,37.69,42.49,48.08,53.37,57.08,59.35,60.68,61.40];
var standerW_female = [3.21,4.2,5.21,6.13,6.83,7.36,7.77,8.11,8.41,8.69,8.94,9.18,9.4,10.65,11.92,13.05,14.13,15.16,16.17,17.22,18.26,19.33,20.37,21.44,22.64,25.25,18.19,31.76,36.10,40.77,44.79,47.83,49.82,50.81,51.20,51.41];

	var item1Show = false;//身体指标历史记录
	var item2Show = false;//身体指标图标分析

	var biData = null;
	var isLoad = false;

	var starderH_all;//标准身高全部数据
	var starderW_all;//标准体重全部数据

	var page;//总页数
	var currentPage;//当前页
	$(function(){
		/*加载身体指标历史记录*/
		loadBiData();
		console.log(standerH_male);

		document.querySelector('.gdSlider').addEventListener('slide', function(event){
			activeTab_grow = event.detail.slideNumber;//当前活跃tab
 			if (event.detail.slideNumber === 0 &&!item1Show){
 				/*加载身体指标历史记录*/
				loadBiData();

 			}else if(event.detail.slideNumber === 1 &&!item2Show){
 				/*加载身体指标图表*/
 				loadBiChart();
 			}
		});

		document.getElementById("lastPage").addEventListener("tap",function(){
			if(!$(this).hasClass("disablePage")){
				showPageNumchart(currentPage+1);
			}
		});

		document.getElementById("nextPage").addEventListener("tap",function(){
			if(!$(this).hasClass("disablePage")){
				showPageNumchart(currentPage-1);
			}
		});
	});

	/*加载历史记录*/
	function loadBiData(){
		$.post("/CBabyAction/loadAllBiData",{
			babyId:localStorage.babyId,
		},function(data){
			var htmlData = "";
			isLoad = true;
			biData = data;
			$("#biDetailData .mui-loading").hide();
			if(data.result == 0){//成功
				htmlData = "<tr class='tableTitle'>"
						+"<td>身高(cm)</td>"
						+"<td>体重(kg)</td>"
						+"<td>&nbsp;&nbsp;&nbsp;年龄&nbsp;&nbsp;&nbsp;</td>"
					+"</tr>";
				var length = data.data.length;				

				for(var i = 0 ; i < length ; i++){
					var bodyIndex = data.data[i];
					htmlData += "<tr  class='bi-line'><td>"+bodyIndex.height+"</td><td>"+bodyIndex.weight+"</td><td>"+bodyIndex.ageDcb+"</td></tr>"
				}
			}else{
				if(data.data == "null"){
					htmlData = "<tr><td>你还没有记录哦！赶快去录入吧！</td></tr>";
				}else{
					htmlData = "<tr><td>噢噢，出错了！</td></tr>";
				}
			}
			$("#biDetailTable").html(htmlData);
		})
	}


	/*---------------加载身体指标图表分析---------------*/
	function loadBiChart(){
		if(isLoad == true){
			var labels = new Array();
			var data_height = new Array();//宝宝身高数据
			var stander_height = new Array();//宝宝记录对应年龄的身高标准数据
			//var starderH_all;//标准身高全部数据

			var data_weight = new Array();//宝宝体重数据
			var stander_weight = new Array();//宝宝记录对应年龄的体重标准数据
		//	var starderW_all;//标准身高全部数据

			if(localStorage.sex == "男"){
				starderH_all = standerH_male;
				starderW_all = standerW_male;
			}else{
				starderH_all = standerH_female;
				starderW_all = standerW_female;
			}

			/*计算数据开始index 与 结束index*/
			var startIndex = 0;
			var endIndex = 0;
			var length = biData.data.length;//总记录数
			page = Math.ceil(length / 6) ;
			currentPage = 1;
			// localStorage.page = page;
			// localStorage.activePage = 1;


			if(length > 5){
				endIndex = 5;
			}else{
				endIndex = length -1;
			}

			// startIndex = (pageNum - 1) * 6;
			// endIndex = startIndex + 5;
			// if(endIndex > length -1){
			// 	endIndex = length -1;
			// 	startIndex = endIndex -5;
			// }
			var data = biData.data;
			var dataCount = endIndex - startIndex + 1;
			// console.log(data);
			// console.log(biData.data[endIndex-i].ageDcb);
			for(var i = 0; i < dataCount ; i++){
				labels[i] = data[endIndex-i].ageDcb;
				data_height[i] = data[endIndex-i].height;
				data_weight[i] = data[endIndex-i].weight;
			}

			var allStanderDataLength = starderH_all.length;
			for(var i = 0; i < dataCount; i++){
				for(j= 0; j < allStanderDataLength; j++){ 
					
					if(labels[i] == babyAge[j]){ 
						stander_height[i] = starderH_all[j];
						stander_weight[i] = starderW_all[j];
						break;
					}
				}
				
			}

			console.log(labels);
			if(labels.length == 1){
				$(".oneData-height").show();
				$("#oneDataVal-age-h").text(labels[0]);
				$("#oneDataVal-baby-h").text(data_height[0]);
				$("#oneDataVal-stander-h").text(stander_height[0]);
				$("#oneDataVal-age-w").text(labels[0]);
				$("#oneDataVal-baby-w").text(data_weight[0]);
				$("#oneDataVal-stander-w").text(stander_weight[0]);
				$(".oneData-weight").show();
				$("#chartbox_bi_dh").hide();
				$("#chartbox_bi_dw").hide();
				$(".changeAge").hide();
				showResTips("多添加数据，可以展示炫酷的图表哦！");
				return ;
			}

			$(".oneData-height").hide();
			$(".oneData-weight").hide();
			$("#chartbox_bi_dh").show();
			$("#chartbox_bi_dw").show();
			$(".changeAge").show();


			showBiChart(labels,data_height,stander_height);
			showWeightChart(labels,data_weight,stander_weight);
			$(".nextPage").addClass("disablePage");
			if(page == 1){
				$(".lastPage").addClass("disablePage");
			}
			console.log("从"+startIndex+"-"+endIndex);
			console.log("共"+page+"页数据,当前为第"+currentPage+"页");
		}
	}//结束图表分析


	/*展示身体指标图表*/
	function showBiChart(labels,dataList,standerList){
		var options = {};
		var data = {
			labels : labels,
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : standerList
				}
				,
				{
					fillColor : "rgba(255,153,153,0.3)",
					strokeColor : "rgba(255,153,153,1)",
					pointColor : "rgba(255,153,153,1)",
					pointStrokeColor : "#fff",
					data : dataList
				}
			]
		};

		var ctx_height = $("#bodyDetailHChart").get(0).getContext("2d");//.getContext("2d");
			
		$("#bodyDetailHChart").attr("width", $(window).get(0).innerWidth*0.95);
		$("#bodyDetailHChart").attr("height", 150);
		var chart_h = new Chart(ctx_height).Line(data,options);
	}

	/*展示体重图表*/
	function showWeightChart(labels,dataList,standerList){
		var options = {};
		var data = {
			labels : labels,
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff", 
					data : standerList
				}
				,
				{
					fillColor : "rgba(255,153,153,0.3)",
					strokeColor : "rgba(255,153,153,1)",
					pointColor : "rgba(255,153,153,1)",
					pointStrokeColor : "#fff",
					data : dataList
				}
			]
		};

		var ctx_height = $("#bodyDetailWChart").get(0).getContext("2d");//.getContext("2d");
			
		$("#bodyDetailWChart").attr("width", $(window).get(0).innerWidth*0.95);
		$("#bodyDetailWChart").attr("height", 150);
		var chart_h = new Chart(ctx_height).Line(data,options);
	}

	function showPageNumchart(pageNum){
		console.log("调用第"+pageNum+"页");
		var labels = new Array();
		var data_height = new Array();//宝宝身高数据
		var stander_height = new Array();//宝宝记录对应年龄的身高标准数据
		//var starderH_all;//标准身高全部数据

		var data_weight = new Array();//宝宝体重数据
		var stander_weight = new Array();//宝宝记录对应年龄的体重标准数据
		//var starderW_all;//标准身高全部数据

		/*计算数据开始index 与 结束index*/
		var startIndex = 0;
		var endIndex = 0;
		var length = biData.data.length;//总记录数

		startIndex = (pageNum - 1) * 6;
		endIndex = startIndex + 5;
		if(endIndex > length -1){
			endIndex = length -1;
			startIndex = endIndex -5;
		}

		var data = biData.data;
		var dataCount = endIndex - startIndex + 1;
			// console.log(data);
			// console.log(biData.data[endIndex-i].ageDcb);
		for(var i = 0; i < dataCount ; i++){
				labels[i] = data[endIndex-i].ageDcb;
				data_height[i] = data[endIndex-i].height;
				data_weight[i] = data[endIndex-i].weight;
		}

		var allStanderDataLength = starderH_all.length;
		for(var i = 0; i < dataCount; i++){
			for(j= 0; j < allStanderDataLength; j++){ 
					
				if(labels[i] == babyAge[j]){ 
					stander_height[i] = starderH_all[j];
					stander_weight[i] = starderW_all[j];
					break;
				}
			}
				
		}

		showBiChart(labels,data_height,stander_height);
		showWeightChart(labels,data_weight,stander_weight);
		currentPage = pageNum;
		console.log()
		if(pageNum == page){
			$("#lastPage").addClass("disablePage");
		}else{
			$("#lastPage").removeClass("disablePage");
		}
		if(pageNum == 1){
			$("#nextPage").addClass("disablePage");
		}else{
			$("#nextPage").removeClass("disablePage");
		}
		console.log("从"+startIndex+"-"+endIndex);
		console.log("共"+page+"页数据,当前为第"+currentPage+"页");

	}

/*展示操作信息*/
function showResTips(result){
		$(".response-tips").text(result);
		$(".response-tips").show();
		window.setTimeout("hideTips()",1500);
}

/*隐藏信息提示，并清空*/
function hideTips(){
		$(".response-tips").text("");
		$(".response-tips").hide();
}
</script>



