<script id="medBoxTpl" type="text/template">
	{@if medBoxList.length == 0}
	<div class="med-note">药箱为空，请点击下方按钮添加药箱</div>
	{@else}
		{@each medBoxList as medbox}
		<li class="mui-table-view-cell med-box-item">
			<input name="checkbox" type="checkbox" class="med-box-check" data-mid="${medbox.id}" {@if medbox.disabled==1}
	        	disabled="disabled"
	    	{@/if}>
			<a class="mui-navigate-right med-box-item-right" href="/client/medicine?medBoxId=${medbox.id}"> <i class="iconfont medbox-item-iconfont">&#xe605;</i>
				<span class="med-box-name">${medbox.name}</span>
			</a>
			<span class="mui-badge mui-badge-success">${medbox.count}</span>
		</li>
		{@/each}
	{@/if}
</script>	

<script id="medBoxSearchTpl" type="text/template">
	{@if medBoxList.length == 0}
	<div class="med-note">没有找到符合要求的药箱</div>
	{@else}
		{@each medBoxList as medbox,index}
			<li class="mui-table-view-cell med-box-item">
			<input name="checkbox" type="checkbox" class="med-box-check" data-mid="${medbox[0]}" {@if medbox[3]==1}
	        	disabled="disabled"
	    	{@/if}>
			<a class="mui-navigate-right med-box-item-right" href="/client/medicine?medBoxId=${medbox[0]}"> <i class="iconfont medbox-item-iconfont">&#xe605;</i>
				<span class="med-box-name">${medbox[1]}</span>
			</a>
			
		</li>
		{@/each}
	{@/if}
</script>	