#{extends 'client.html' /}
#{set title:'小药箱' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/client/medicine.css'}?v=20150414" rel="stylesheet" />
#{/set}
#{output 'Client/record/medBoxTpl.html'/}
<header class="mui-bar mui-bar-nav client-bar-nav">
	<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title client-title">小药箱</h1>
</header>

<div class="mui-content med-box-search-content">
	<div class="mui-content-padded">
		<div class="mui-input-row mui-search">
			<input type="search" class="mui-input-clear" placeholder="输入药箱名称"></div>
	</div>
</div>

<div class="mui-content med-box-content">
	<ul class="mui-table-view med-box-list">
	</ul>
</div>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active medbox-item add-item" href="#tabbar">
		<span class="mui-icon">
			<i class="iconfont">&#xe636;</i>
		</span>
		<span class="mui-tab-label">添加</span>
	</a>
	<a class="mui-tab-item medbox-item select-item" href="#tabbar-with-chat">
		<span class="mui-icon mui-icon-checkmarkempty"></span>
		<span class="mui-tab-label">选择</span>
	</a>
	<a class="mui-tab-item medbox-item del-item" href="#tabbar-with-sms">
		<span class="mui-icon">
			<i class="iconfont">&#xf008b;</i>
		</span>
		<span class="mui-tab-label">删除</span>
	</a>
</nav>
<!-- 遮罩层 -->
<div id='pregDrop'></div>
<!-- 添加model -->
<div class="form-model med-model">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">药箱信息</h1>
	</header>
	<div class="model-content">
		<div class="model-item">
			<span class="model-item-title">名称</span>
			<span class="model-item-content">
				<input type="text" name="medBox-name" placeholder="输入药箱名称"/>
			</span>
		</div>
		<div class="model-item">
			<span class="model-item-title">标签</span>
			<span class="model-item-content">
				<input type="text" name="medBox-tag" placeholder="输入药箱标签"/>
			</span>
		</div>
		<div class="model-item">
			<span class="model-item-title">描述</span>
			<span class="model-item-content">
				<input type="text" name="medBox-mark" placeholder="输入药箱描述"/>
			</span>
		</div>
	</div>
	<div class="model-bottom">
		<button class="mui-btn mui-btn-negative model-btn-refresh medBox-add-btn">添加</button>
	</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">mui.init();</script>
<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
<script type="text/javascript" src = "@{'/public/javascripts/juicer.js'}"></script>
<script type="text/javascript">
	$(function(){
		var delSelect = 0;
		/*加载药箱列表*/
		var loadMedBoxList = function(){
			$.get("/CMedicine/loadMedboxList",function(data){
				var html = juicer($('#medBoxTpl').html(),{medBoxList:data.data});
				$('.med-box-list').append(html);
			});
		}
		loadMedBoxList();
		/*遮罩层*/
		$('#pregDrop').bind('touchstart',function(){
			$('.med-model').hide();
			$(this).hide();
		});
		/*药箱菜单*/
		$('.med-box-item a').click(function(){
			if($(this).parent().hasClass('select-wait')){
				$(this).parent().addClass('delete-wait');
				return false;
			}
			else
				return true;
		});
		/* 跳转链接 */
		$('.med-box-item a').click(function(){
			if(delSelect == 1){
				return false;
			}
			else{
				return true;
			}
		})
		/* 底部菜单 */
		$('.medbox-item').bind('touchstart',function(){
			if(delSelect == 1){
				delSelect = 0;
				$('.med-box-item').removeClass('mui-checkbox');
				$('.med-box-item').removeClass('mui-left');
				$('.med-box-check').removeClass('show');
				$('.medbox-item-iconfont').removeClass('hidden');
			}
		});
		$('.add-item').bind('touchstart',function(){
			$('.med-model').show();
			$('#pregDrop').show();
		});
		$('.select-item').bind('touchstart',function(){
			if(delSelect == 0){
				delSelect = 1;
				$('.med-box-item').addClass('mui-checkbox');
				$('.med-box-item').addClass('mui-left');
				$('.med-box-check').addClass('show');
				$('.medbox-item-iconfont').addClass('hidden');

				$("input[name='checkbox']:checked").attr("checked",false);
			}
		});
		/* 删除药箱 */
		$('.del-item').bind('touchstart',function(){
			var medBox = $("input[name='checkbox']:checked");
			var midArr = new Array();
			for(var i=0;i<medBox.length;i++){
				midArr[i] = medBox[i].getAttribute('data-mid');
			}
			$.get("/CMedicine/removeMedBox?mid="+midArr,function(data){
				if(data.result == 0){
					loadMedBoxList();
				}
				else
					alert("创建失败!");
			});
			$("input[name='checkbox']:checked").attr("checked",false);
		});
		/* 添加药箱 */
		$('.medBox-add-btn').bind('click',function(){
			var name = $("input[name='medBox-name']").val();
			var mark = $("input[name='medBox-mark']").val();
			$.get("/CMedicine/addMedBox?name="+name+"&mark="+mark,function(data){
				if(data.result == 0)
					alert("创建成功!");
				else
					alert("创建失败!");
			});
		});
	});
</script>
#{/set}