#{extends 'client.html' /}
#{set title:'小药箱' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/client/medicine.css'}?v=20150414" rel="stylesheet" />
#{/set}
<header class="mui-bar mui-bar-nav client-bar-nav">
	<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title client-title">小药箱</h1>
	<a href="#mui-popover" class="mui-icon mui-icon-bars mui-pull-right add-menu"></a>
	<div id="mui-popover" class="med-popover">
		<ul class="mui-table-view med-pop-menu">
			<li class="mui-table-view-cell man-add-btn">
				<a href="#">手动添加</a>
			</li>
			<li class="mui-table-view-cell scanner-add-btn">
				<a href="#">扫描添加</a>
			</li>
		</ul>
	</div>
</header>

<div class="mui-content med-box-search-content">
	<div class="mui-content-padded">
		<div class="mui-input-row mui-search">
			<input type="search" class="mui-input-clear" placeholder="输入药箱名称"></div>
	</div>
</div>

<div class="mui-content med-box-content">
	<ul class="mui-table-view med-box-list">
		<li class="mui-table-view-cell med-box-item select-wait">
			<a class="mui-navigate-right" href="/client/medicine"> <i class="iconfont">&#xe63f;</i>
				<span class="med-box-name">感冒药箱</span>
			</a>
			<span class="mui-badge mui-badge-danger">10</span>
		</li>
		<li class="mui-table-view-cell med-box-item">
			<a class="mui-navigate-right" href="/client/medicine"> <i class="iconfont">&#xe605;</i>
				<span class="med-box-name">小儿药箱</span>
			</a>
			<span class="mui-badge mui-badge-success">21</span>
		</li>
		<li class="mui-table-view-cell med-box-item">
			<a class="mui-navigate-right" href="/client/medicine">
				<i class="iconfont">&#xe605;</i>
				<span class="med-box-name">小儿药箱</span>
			</a>
			<span class="mui-badge mui-badge-success">21</span>
		</li>
		<li class="mui-table-view-cell med-box-item">
			<a class="mui-navigate-right" href="/client/medicine">
				<i class="iconfont">&#xe63f;</i>
				<span class="med-box-name">感冒药箱</span>
			</a>
			<span class="mui-badge mui-badge-danger">10</span>
		</li>
		<li class="mui-table-view-cell med-box-item">
			<a class="mui-navigate-right" href="/client/medicine">
				<i class="iconfont">&#xe605;</i>
				<span class="med-box-name">小儿药箱</span>
			</a>
			<span class="mui-badge mui-badge-success">21</span>
		</li>
	</ul>
</div>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active medbox-item" href="#tabbar">
		<span class="mui-icon">
			<i class="iconfont">&#xe636;</i>
		</span>
		<span class="mui-tab-label">提示</span>
	</a>
	<a class="mui-tab-item medbox-item" href="#tabbar-with-chat">
		<span class="mui-icon mui-icon-checkmarkempty"></span>
		<span class="mui-tab-label">选择</span>
	</a>
	<a class="mui-tab-item medbox-item" href="#tabbar-with-sms">
		<span class="mui-icon">
			<i class="iconfont">&#xf008b;</i>
		</span>
		<span class="mui-tab-label">删除</span>
	</a>
</nav>
<!-- 遮罩层 -->
<div id='pregDrop'></div>
<!-- 添加model -->
<div class="form-model med-model">
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">药箱信息</h1>
	</header>
	<div class="model-content">
		<div class="model-item">
			<span class="model-item-title">名称</span>
			<span class="model-item-content">
				<input type="text" placeholder="输入药箱名称"/>
			</span>
		</div>
		<div class="model-item">
			<span class="model-item-title">标签</span>
			<span class="model-item-content">
				<input type="text" placeholder="输入药箱标签"/>
			</span>
		</div>
		<div class="model-item">
			<span class="model-item-title">描述</span>
			<span class="model-item-content">
				<input type="text" placeholder="输入药箱描述"/>
			</span>
		</div>
	</div>
	<div class="model-bottom">
		<button class="mui-btn mui-btn-negative model-btn-refresh">添加</button>
	</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">mui.init();</script>
<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
<script type="text/javascript">
	$(function(){
		/*遮罩层*/
		$('#pregDrop').bind('touchstart',function(){
			$('.med-model').hide();
			$(this).hide();
		});
		/*弹出菜单*/
		$('.add-menu').bind('touchstart',function(){
			$('#mui-popover').show();
		});
		$('.man-add-btn a').bind('touchstart',function(){
			$(this).parents('.med-popover').hide();
			$('.med-model').show();
			$('#pregDrop').show();
		});
		/*药箱菜单*/
		$('.med-box-item a').click(function(){
			if($(this).parent().hasClass('select-wait'))
				return false;
			else
				return true;
		});
		/*微信扫描*/
		$('.scanner-add-btn a').bind('touchstart',function(){
			wx.scanQRCode({
			    needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
			    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
			    success: function (res) {
			    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
			    alert(result);
				}
			});
		});
	});
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
	/* 配置微信接口信息 */
	wx.config({
	    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: 'wx485f2bc0867fe1c2', // 必填，公众号的唯一标识
	    timestamp: '${timestamp}', // 必填，生成签名的时间戳
	    nonceStr: '${nonceStr}', // 必填，生成签名的随机串
	    signature: '${signature}',// 必填，签名，见附录1
	    jsApiList: ['scanQRCode','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});

	wx.ready(function(){
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
	});

	wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
	});
</script>
#{/set}