#{extends 'client.html' /}
#{set title:'药品详情' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/client/medicine.css'}?v=20150414" rel="stylesheet" />
#{/set}
<header class="mui-bar mui-bar-nav client-bar-nav">
	<a class="mui-icon mui-icon-left-nav mui-pull-left" href="/client/medbox"></a>
	<h1 class="mui-title client-title">药品详情</h1>
	<a href="#mui-popover" class="mui-icon mui-icon-bars mui-pull-right"></a>
	<div id="mui-popover" class="mui-popover">
		<ul class="mui-table-view preg-pop-menu">
			<li class="mui-table-view-cell">Item1</li>
			<li class="mui-table-view-cell">Item2</li>
			<li class="mui-table-view-cell">Item3</li>
		</ul>
	</div>
</header>

<div class="mui-content med-box-search-content">
	<div class="mui-content-padded">
		<div class="mui-input-row mui-search">
			<input type="search" class="mui-input-clear" placeholder="输入药品名称"></div>
	</div>
</div>

<div class="mui-content med-box-content">
	<ul class="mui-table-view mui-table-view-chevron">
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right med-arrow-right">
				<span class="med-num">01</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">02</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">03</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">04</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">05</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">06</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">07</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">08</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">09</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">10</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">11</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">12</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">13</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">14</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" class="mui-navigate-right">
				<span class="med-num">15</span>
				<div class="med-msg">
					<div class="med-name">小柴胡</div>
					<div class="med-description">
						褪黑素、灵芝、枣任、珍珠、天麻
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<nav class="mui-bar mui-bar-tab med-bar-tab">
	<a class="mui-tab-item medicine-item mui-active" href="#tabbar">
		<span class="mui-icon"> <i class="iconfont">&#xe636;</i>
		</span>
		<span class="mui-tab-label">提示</span>
	</a>
	<a class="mui-tab-item medicine-item" href="#tabbar-with-chat">
		<span class="mui-icon"> <i class="iconfont">&#xe7bc;</i>
		</span>
		<span class="mui-tab-label">添加</span>
	</a> 
	<a class="mui-tab-item medicine-item" href="#tabbar-with-sms">
		<span class="mui-icon">
			<i class="iconfont">&#xf008b;</i>
		</span>
		<span class="mui-tab-label">删除</span>
	</a>
</nav>
#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">mui.init();</script>
<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
#{/set}