#{extends 'client.html' /} #{set title:'女性助手' /} #{set 'moreStyles'}
<link href="@{'/public/stylesheets/client/preg/pregnant.css'}?v=20150926" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/client/preg/mobiscroll.css'}" rel="stylesheet" type="text/css" />
#{/set} #{output 'Client/record/pregTpl.html'/}
<header class="mui-bar mui-bar-nav client-bar-nav">
	<a class="mui-icon mui-icon-home mui-pull-left" href="@{Client.first()}"></a>
	<h1 class="mui-title client-title">女性助手</h1>
</header>
<div class="mui-content preg-menu-content">
	<div id="preg-menu">
		<ul>
			<li>
				<a class="pregIcon active" id="mense-menu-btn" href="#" tabNum="1"> <i class="iconfont">&#xe686;</i>
				</a>
				月经
			</li>
			<li>
				<a class="pregIcon" id="temp-menu-btn" href="#" tabNum="2"> <i class="icon iconfont">&#xe608;</i>
				</a>
				体温
			</li>
			<li>
				<a class="pregIcon" id="pregw-menu-btn" href="#" tabNum="3">
					<i class="icon iconfont">&#xe673;</i>
				</a>
				体重
			</li>
			<li>
				<a class="pregIcon" id="pregm-menu-btn" href="#" tabNum="4">
					<i class="icon iconfont">&#xe672;</i>
				</a>
				胎动
			</li>
		</ul>
	</div>
</div>
<div class="mui-content mense-content">
	<!-- 月经记录 -->
	<div class="mui-content danamic-content preg-content mense-content active">
		<div class="preg-content-section">
			<a href="/CPregnant/menseDetail" class="mui-pull-right more-link">更多></a>
			<div class="preg-title">上一次记录</div>

			<div class="preg-detail">
				<span class="preg-detail-title">颜色 :</span>
				<span id="lastMenseColor">血红</span>
			</div>
			<div class="preg-detail">
				<span class="preg-detail-title">血块 :</span>
				<span id="lastMenseLiquid">大</span>
			</div>
			<div class="preg-detail">
				<span class="preg-detail-title">经量 :</span>
				<span id="lastMenseNum">略大</span>
			</div>
			<div class="preg-detail">
				<span class="preg-detail-title">痛经 :</span>
				<span id="lastMenseHurt">有</span>
			</div>
			<!--div class="preg-detail">
				<span class="preg-detail-title">稠度 :</span>
				<span id="lastMenseChou">稀</span>
			</div>
			<div class="preg-detail">
				<span class="preg-detail-title">时长 :</span>
				<span id="lastMenseTime"></span>
			</div-->
			<div class="preg-detail">
				<!--span class="preg-detail-title">日期 :</span-->
				<span class="mense-last-date"></span>
			</div>
		</div>
		<div class="preg-content-section chart-section">
			<a href="/CPregnant/menseDetail" class="mui-pull-right more-link">分析></a>
			<div class="preg-title">月经周期</div>
			<!--canvas id="mense-chart" class="preg-chart"></canvas-->
			<div class="mense-chart-empty chart-empty not-shown">图表无数据显示</div>
			<!-- echatsjs图表 -->
			<div id="menseChart" class="preg-echart" style="height:250px;">

			</div>
		</div>
	</div>
	<!-- 体温记录  -->
	<div class="mui-content danamic-content preg-content temp-content">
		<div class="preg-content-section">

			<a href="/CTemperature/tempDetail" class="mui-pull-right more-link">更多></a>
			<div class="preg-title">最近记录</div>
			<table class="preg-record-table" id="tempTable">
				<thead>
					<tr>
						<th>记录日期</th>
						<th>体温(℃)</th>
						<th>同房</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<a href="#" class="table-more-btn shrink tempTableArrow">
								<span class="mui-icon table-more-icon mui-icon-arrowdown"></span>
							</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="preg-content-section chart-section">
			<a href="/CTemperature/tempDetail" class="mui-pull-right more-link">分析></a>
			<div class="preg-title">基础体温</div>
			<div class="temp-chart-empty chart-empty not-shown">图表无数据显示</div>
			<!-- echatsjs图表 -->
			<div id="tempChart" class="preg-echart" style="height:250px;">

			</div>
		</div>
	</div>
	<!-- 体重记录 -->
	<div class="mui-content preg-content danamic-content pregw-content">
		<div class="preg-content-section">
			<a href="/CWeight/weightDetail" class="mui-pull-right more-link">更多></a>
			<div class="preg-title">最近记录</div>
			<table class="preg-record-table" id="pregwTable">
				<thead>
					<tr>
						<th>记录日期</th>
						<th>重量(Kg)</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<a href="#" class="table-more-btn shrink pregwTableArrow">
								<span class="mui-icon table-more-icon mui-icon-arrowdown"></span>
							</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="preg-content-section chart-section">
			<a href="/CWeight/weightDetail" class="mui-pull-right more-link">分析></a>
			<div class="preg-title">体重分析</div>
			<!-- <canvas id="pregw-chart" class="preg-chart"></canvas> -->
			<div class="pregw-chart-empty chart-empty not-shown">图表无数据显示</div>
			<!-- echatsjs图表 -->
			<div id="pregwChart" class="preg-echart" style="height:250px;">

			</div>
		</div>
	</div>
	<!-- 胎动记录 -->
	<div class="mui-content preg-content danamic-content pregm-content">
		<div class="preg-content-section">
			<a href="/CMove/pregmDetail" class="mui-pull-right more-link">更多></a>
			<div class="preg-title">最近记录</div>
			<table class="preg-record-table" id="pregmTable">
				<thead>
					<tr>
						<th>记录日期</th>
						<th>折算12小时次数</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<a href="#" class="table-more-btn shrink pregmTableArrow">
								<span class="mui-icon table-more-icon mui-icon-arrowdown"></span>
							</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="preg-content-section chart-section">
			<a href="/CMove/pregmDetail" class="mui-pull-right more-link">分析></a>
			<div class="preg-title">胎动统计</div>
			<div class="pregm-chart-empty chart-empty not-shown">图表无数据显示</div>
			<div id="pregmChart" style="height:250px;">

			</div>
		</div>
		<div class="cus-model">
			<div class="cus-model-header">
				消息提示
			</div>
			<div class="cus-model-content">
				胎动次数过少，请及时联系医生检查
			</div>
			<div class="cus-model-check">
				<input type="checkbox" id="cus-check">&nbsp;&nbsp;不再提醒
			</div>
			<div class="cus-model-bottom">
				<input type="button" value="确认" id="cus-model-yes">
				<input type="button" value="取消" id="cus-model-no">
			</div>
		</div>
	</div>

	<!-- 添加数据model -->
	<!-- 月经model -->
	<div class="form-model mense-model mui-hidden">
		<header class="mui-bar mui-bar-nav model-header">
			<button class="mui-btn mui-pull-right model-btn" id="mense-date-btn">日期</button>
			<input type="hidden" id="mense-date-val" data-val="" />
			<h1 class="mui-title model-title">月经记录</h1>
		</header>
		<div class="model-content">
			<div class="model-content-list">
				<span class="model-content-list-title">颜色:</span>
				<select class="model-content-list-select" id="mense-color">
					<option>暗红</option>
					<option>鲜红</option>
					<option>淡红</option>
					<option>咖啡色</option>
					<option>黑色</option>
				</select>
				<span class="model-content-list-title">经量:</span>
				<select class="model-content-list-select" id="mense-num">
					<option>量多</option>
					<option>适中</option>
					<option>偏少</option>
				</select>
			</div>
			<div class="model-content-list">
				<span class="model-content-list-title">血块:</span>
				<select class="model-content-list-select" id="mense-liquid">
					<option>没有</option>
					<option>少量</option>
					<option>量多</option>
				</select>
				<span class="model-content-list-title">痛经:</span>
				<select class="model-content-list-select" id="mense-hurt">
					<option>无</option>
					<option>轻微</option>
					<option>较痛</option>
				</select>
			</div>
			<!--div class="model-content-list model-content-list-bottom">
				<span class="model-content-list-title">稠度:</span>
				<select class="model-content-list-select" id="mense-chou">
					<option>浓</option>
					<option>稀</option>
				</select>
				<span class="model-content-list-title">天数:</span>
				<select class="model-content-list-select" id="mense-time">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
					<option>13</option>
					<option>14</option>
					<option>15</option>
				</select>
			</div-->
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-refresh mense-data-refresh">添加</button>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-delete mense-data-delete" disabled="true">删除</button>
		</div>
		<div class="model-tips">
			<button class="mui-btn last-btn" style="display:none">上一次</button>
			<span class="model-content-list-content model-last-mense-data">暗红，大经量，有色块，痛经，稠</span>
		</div>
	</div>
	<!-- 体温model -->
	<div class="form-model temp-model mui-hidden">
		<header class="mui-bar mui-bar-nav model-header">
			<button class="mui-btn mui-pull-right model-btn" id="temp-date-btn">日期</button>
			<input type="hidden" id="temp-date-val" data-val="" />
			<h1 class="mui-title model-title">体温记录</h1>
		</header>
		<div class="model-content">
			<p>记录体温能够帮助你监控生理周期状况，好处多多，记得是测口腔温度哦！</p>
			<div id="temp-scroller"></div>
			<span class="sexLabel">是否同房</span>
			<div class="sexRadio">
				<input type='radio' value='1' name='haveSex' checked='checked'> 是
				<input type='radio' value='0' name='haveSex'> 否
			</div>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-refresh temp-data-refresh">添加</button>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-delete temp-data-delete" disabled="true">删除</button>
		</div>
		<div class="model-tips">
			<button class="mui-btn last-btn" id="lastTempViewBtn" disabled>上一次</button>
			<!--span class="model-content-list-content" id="lastTempContent">38.5℃ (正常)</span-->
		</div>
	</div>
	<!-- 体重model -->
	<div class="form-model pregw-model mui-hidden">
		<header class="mui-bar mui-bar-nav model-header">
			<button class="mui-btn mui-pull-right model-btn" id="pregw-date-btn">日期</button>
			<input type="hidden" id="pregw-date-val" data-val="" />
			<h1 class="mui-title model-title">体重记录</h1>
		</header>
		<div class="model-content">
			<p>记录体重后，可以判断你的身高是否标准</p>
			<div id="pregw-scroller"></div>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-refresh pregw-data-refresh">添加</button>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-delete pregw-data-delete" disabled="true">删除</button>
		</div>
		<div class="model-tips">
			<button class="mui-btn last-btn" id="lastPregwViewBtn" disabled>上一次</button>
			<!--span class="model-content-list-content">60.5kg</span-->
		</div>
	</div>
	<!-- 胎动model -->
	<div class="form-model pregm-model mui-hidden">
		<header class="mui-bar mui-bar-nav model-header">
			<button class="mui-btn mui-pull-right model-btn" id="pregm-date-btn">日期</button>
			<input type="hidden" id="pregm-date-val" data-val="" />
			<h1 class="mui-title model-title">胎动记录</h1>
		</header>
		<div class="model-content">
			<p>记录胎动次数</p>
			<div id="pregm-scroller"></div>
			<div class="moveRadio">
				<input type='radio' value='0' name='movement' checked='checked'> 早上
				<input type='radio' value='1' name='movement'> 下午
				<input type='radio' value='2' name='movement'> 晚上
			</div>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-refresh pregm-data-refresh">添加</button>
		</div>
		<div class="model-bottom">
			<button class="mui-btn mui-btn-negative model-btn-delete pregm-data-delete" disabled="true">删除</button>
		</div>
		<div class="model-tips">
			<button class="mui-btn last-btn" id="lastPregmViewBtn" disabled>上一次</button>
			<!--span class="model-content-list-content">45次</span-->
		</div>
	</div>
</div>
<!-- 添加按钮 -->
<a href="#" id="mense-add-btn" class="preg-add-btn">
	+
</a>
<!-- 遮罩层 -->
<div class="mui-backdrop" id='pregDrop'></div>
<!-- 加载动画 -->
<i class="icon iconfont" id="loading-btn">&#xe682;</i> #{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">
	mui.init();
</script>
<script type="text/javascript" src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}?v=20150804"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/echarts.js'}?v=20150804"></script>
<script type="text/javascript" type="text/javascript" src="@{'/public/javascripts/juicer.js'}?v=20150804"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/preg-mobiscroll.js'}?v=20150804"></script>
<!--script src="@{'/public/javascripts/client/Chart.min.js'}" type="text/javascript"></script-->
<script type="text/javascript">
	/* 公共变量 */
	var curTab = 1,
		tabTwo = false,
		tabThree = false,
		tabFour = false;
</script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/mense.js'}?v=20150804"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/temp.js'}?v=20150804"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/weight.js'}?v=20150804"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/move.js'}?v=20150926"></script>
<script type="text/javascript" src="@{'/public/javascripts/client/preg/util.js'}?v=20150804"></script>
#{/set}
