#{extends 'client.html' /}
#{set title:'助孕记录' /}
#{output 'UserMgm/userTpl.html'/}
#{set 'moreStyles'}
		<link href="@{'/public/stylesheets/client/pregnant.css'}" rel="stylesheet" />
		<link href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.scroller.css'}" rel="stylesheet" type="text/css" />
#{/set}
		<header class="mui-bar mui-bar-nav client-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title client-title">助孕记录</h1>
			<a href="#mui-popover" class="mui-icon mui-icon-bars mui-pull-right"></a>
			<div id="mui-popover" class="mui-popover">
			  <ul class="mui-table-view preg-pop-menu">
			    <li class="mui-table-view-cell">Item1</li>
			    <li class="mui-table-view-cell">Item2</li>
			    <li class="mui-table-view-cell">Item3</li>
			  </ul>
			</div>
		</header>
		<div class="mui-content preg-menu-content">
			<div id="preg-menu">
				<ul>
					<li>
						<a class="pregIcon active" id="mense-menu-btn" href="#" tabNum="1"><i class="icon iconfont">&#xf0043;</i></a> 月经
					</li>
					<li>
						<a class="pregIcon" id="temp-menu-btn" href="#" tabNum="2">
							<i class="icon iconfont">&#xe613;</i>
						</a>
						体温
					</li>
					<li>
						<a class="pregIcon" id="pregw-menu-btn" href="#" tabNum="3">
							<i class="icon iconfont">&#xe673;</i>
						</a>
						孕重
					</li>
					<li>
						<a class="pregIcon" id="pregm-menu-btn" href="#" tabNum="4">
							<i class="icon iconfont">&#xf01d4;</i>
						</a>
						胎动
					</li>
				</ul>
			</div>
		</div>
		<div class="mui-content mense-content">
			<!-- 月经记录 --> 
			<div class="mui-content danamic-content preg-content mense-content active">
				<div class="preg-content-section">
					<a href="#" class="mui-pull-right more-link">更多</a>
					<div class="preg-title">上一次记录</div>
					<div class="preg-detail"><span class="preg-detail-title">颜色 : </span><span>血红</span>
					</div>
					<div class="preg-detail"><span class="preg-detail-title">色块 : </span><span>大</span>
					</div>
					<div class="preg-detail"><span class="preg-detail-title">经量 : </span><span>略大</span>
					</div>
					<div class="preg-detail"><span class="preg-detail-title">痛经 : </span><span>有</span>
					</div>
					<div class="preg-detail"><span class="preg-detail-title">稠度 : </span><span>稀</span>
					</div>
				</div>
				<div class="preg-content-section">
					<a href="#" class="mui-pull-right more-link">分析</a>
					<div class="preg-title">月经周期</div>
					<canvas id="mense-chart" class="preg-chart">
					</canvas>
				</div>
			</div>
			<!-- 体温记录  -->
			<div class="mui-content danamic-content preg-content temp-content">
				<div class="preg-content-section">
					<div class="preg-title">最近记录</div>
					<table class="preg-record-table">
						<thead>
							<tr>
								<th>记录日期</th>
								<th>体温(℃)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>36℃</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>36.8℃</td>
							</tr>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>37℃</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>38.3℃</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>40℃</td>
							</tr>
							<tr class="table-hidden table-more">
								<td>2015-01-02</td>
								<td>37.5℃</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>36.8℃</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="#" class="table-more-btn shrink"><span class="mui-icon table-more-icon mui-icon-arrowdown"></span></a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="preg-content-section">
					<div class="preg-title">孕妇体温</div>
					<canvas id="temp-chart" class="preg-chart">
					</canvas>
				</div>
			</div>
			<!-- 孕重记录 -->
			<div class="mui-content preg-content danamic-content pregw-content">
				<div class="preg-content-section">
					<div class="preg-title">最近记录</div>
					<table class="preg-record-table">
						<thead>
							<tr>
								<th>记录日期</th>
								<th>重量(Kg)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>50</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>49.5</td>
							</tr>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>60</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>61</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>55</td>
							</tr>
							<tr class="table-hidden table-more">
								<td>2015-01-02</td>
								<td>57</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>58</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="#" class="table-more-btn shrink"><span class="mui-icon table-more-icon mui-icon-arrowdown"></span></a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="preg-content-section">
					<div class="preg-title">孕重分析</div>
					<canvas id="pregw-chart" class="preg-chart">
					</canvas>
				</div>
			</div>
 			<!-- 胎动记录 -->
 			<div class="mui-content preg-content danamic-content pregm-content">
				<div class="preg-content-section">
					<div class="preg-title">最近记录</div>
					<table class="preg-record-table">
						<thead>
							<tr>
								<th>记录日期</th>
								<th>次数</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>45</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>47</td>
							</tr>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>57</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>56</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>54</td>
							</tr>
							<tr class="table-hidden table-more">
								<td>2015-01-02</td>
								<td>55</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>56</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="#" class="table-more-btn shrink"><span class="mui-icon table-more-icon mui-icon-arrowdown"></span></a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="preg-content-section">
					<div class="preg-title">胎动统计</div>
					<canvas id="pregm-chart" class="preg-chart">
					</canvas>
				</div>
			</div>

			<!-- 添加数据model -->
			<!-- 月经model -->
			<div class="form-model mense-model mui-hidden">
				<header class="mui-bar mui-bar-nav model-header">
					<button class="mui-btn mui-pull-right model-btn" id="model-data-btn">
						日期
					</button>
					<h1 class="mui-title model-title">月经记录</h1>
				</header>
				<div class="model-content">
					<div class="model-content-list">
						<span class="model-content-list-title">颜色:</span>
						<select class="model-content-list-select">
							<option>暗红</option>
							<option>血红</option>
						</select>
						<span class="model-content-list-title">经量:</span>
						<select class="model-content-list-select">
							<option>大</option>
							<option>中</option>
							<option>小</option>
						</select>
					</div>
					<div class="model-content-list">
						<span class="model-content-list-title">色块:</span>
						<select class="model-content-list-select">
							<option>有</option>
							<option>无</option>
						</select>
						<span class="model-content-list-title">痛经:</span>
						<select class="model-content-list-select">
							<option>有</option>
							<option>无</option>
						</select>
					</div>
					<div class="model-content-list model-content-list-bottom">
						<span class="model-content-list-title">稠度:</span>
						<select class="model-content-list-select">
							<option>浓</option>
							<option>稀</option>
						</select>
					</div>
				</div>
				<div class="model-bottom">
					<button class="mui-btn mui-btn-negative model-btn-refresh">更新</button>
				</div>
				<div class="model-tips">
					<button class="mui-btn last-btn">上一次</button>
					<span class="model-content-list-content">暗红，大经量，有色块，痛经，稠</span>
				</div>
			</div>
			<!-- 体温model -->
			<div class="form-model temp-model mui-hidden">
				<header class="mui-bar mui-bar-nav model-header">
					<button class="mui-btn mui-pull-right model-btn" id="model-data-btn">
						日期
					</button>
					<h1 class="mui-title model-title">体温记录</h1>
				</header>
				<div class="model-content">
					<p>记录体温能够帮助你监控生理周期状况，好处多多，记得是测口腔温度哦！</p>
					<div id="temp-scroller"></div>
				</div>
				<div class="model-bottom">
					<button class="mui-btn mui-btn-negative model-btn-refresh">更新</button>
				</div>
				<div class="model-tips">
					<button class="mui-btn last-btn">上一次</button>
					<span class="model-content-list-content">38.5℃ (正常)</span>
				</div>
			</div>
			<!-- 孕重model -->
			<div class="form-model pregw-model mui-hidden">
				<header class="mui-bar mui-bar-nav model-header">
					<button class="mui-btn mui-pull-right model-btn" id="model-data-btn">
						日期
					</button>
					<h1 class="mui-title model-title">孕重记录</h1>
				</header>
				<div class="model-content">
					<p>记录体重后，可以判断你的身高是否标准</p>
					<div id="pregw-scroller"></div>
				</div>
				<div class="model-bottom">
					<button class="mui-btn mui-btn-negative model-btn-refresh">更新</button>
				</div>
				<div class="model-tips">
					<button class="mui-btn last-btn">上一次</button>
					<span class="model-content-list-content">60.5kg</span>
				</div>
			</div>
			<!-- 胎动model -->
			<div class="form-model pregm-model mui-hidden">
				<header class="mui-bar mui-bar-nav model-header">
					<button class="mui-btn mui-pull-right model-btn" id="model-data-btn">
						日期
					</button>
					<h1 class="mui-title model-title">胎动记录</h1>
				</header>
				<div class="model-content">
					<p>记录胎动次数</p>
					<div id="pregm-scroller"></div>
				</div>
				<div class="model-bottom">
					<button class="mui-btn mui-btn-negative model-btn-refresh">更新</button>
				</div>
				<div class="model-tips">
					<button class="mui-btn last-btn">上一次</button>
					<span class="model-content-list-content">45次</span>
				</div>
			</div>
		</div>
		<!-- 添加按钮 -->
		<a href="#" id="mense-add-btn" class="preg-add-btn">
			<i class="icon iconfont">&#xe64c;</i>
		</a>
		<!-- 遮罩层 -->
	    <div class="mui-backdrop" id='pregDrop'></div>
		<!-- 加载动画 -->
		<i class="icon iconfont" id="loading-btn">&#xe632;</i>

		#{set 'moreScripts'}
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
		<!--script src="@{'/public/javascripts/client/mobiscroll/mobiscroll-2.14.4-crack.js'}" type="text/javascript"></script-->
		<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.core.js'}"></script>
		<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.frame.js'}"></script>
		<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll.scroller.js'}"></script>
		<script src="@{'/public/javascripts/client/Chart.min.js'}" type="text/javascript"></script>

		<script type="text/javascript">
			$(function() {
				var curTab = 1;
				/* 图表分析 */
				/* 加载月经图表 */
				var loadMenseChart = function(){
					$(".preg-chart").attr("width",$(window).get(0).innerWidth*0.95);
					$(".preg-chart").attr("height","150");
					var ctx = $("#mense-chart").get(0).getContext("2d");
					var options = {	animation : false};
					var data = {
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
						datasets: [{
							fillColor: "rgba(220,220,220,0.5)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							data: [30, 29, 30, 28, 29, 34, 40]
						}, {
							fillColor: "rgba(242,195,195,0.4)",
							strokeColor: "rgba(223,116,116,0.4)",
							pointColor: "rgba(223,116,116,0.4)",
							pointStrokeColor: "#fff",
							data: [28, 27, 28, 30, 36, 40, 25]
						}]
					}
					new Chart(ctx).Line(data,options);
				};
				loadMenseChart();
				/* 加载体温图表 */
				var loadTempChart = function(){	
					$(".preg-chart").attr("width",$(window).get(0).innerWidth*.95);
					$(".preg-chart").attr("height","150");
					var ctx = $("#temp-chart").get(0).getContext("2d");
					var options = {	animation : false};
					var data = {
						labels: ["01/02", "02/04", "02/06", "02/08", "02/12", "02/16", "03/16"],
						datasets: [{
							fillColor: "rgba(220,220,220,0.5)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							data: [36, 36.8, 37, 38.3, 40, 37.5, 36.8]
						}]
					}
					var myNewChart = new Chart(ctx).Line(data,options);
				};
				/* 加载孕重图表 */
				var loadPregwChart = function(){
					$(".preg-chart").attr("width",$(window).get(0).innerWidth*.95);
					$(".preg-chart").attr("height","150");
					var ctx = $("#pregw-chart").get(0).getContext("2d");
					var options = {	animation : false};
					//This will get the first returned node in the jQuery collection.
					var data = {
						labels: ["January", "February", "March", "April", "May", "June", "July"],
						datasets: [{
							fillColor: "rgba(242,195,195,0.4)",
							strokeColor: "rgba(223,116,116,0.4)",
							pointColor: "rgba(223,116,116,0.4)",
							pointStrokeColor: "#fff",
							data: [50, 49.5, 60, 61, 55, 57, 58]
						}]
					}
					var myNewChart = new Chart(ctx).Line(data,options);
				};
				/* 加载胎动图表 */
				var loadPregmChart = function(){
					$(".preg-chart").attr("width",$(window).get(0).innerWidth*.95);
					$(".preg-chart").attr("height","150");
					var ctx = $("#pregm-chart").get(0).getContext("2d");
					var options = {	animation : false};
					//This will get the first returned node in the jQuery collection.
					var data = {
						labels: ["January", "February", "March", "April", "May", "June", "July"],
						datasets: [{
							fillColor: "rgba(220,220,220,0.5)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							data: [45, 47, 57, 56, 54, 55, 56]
						}]
					}
					var myNewChart = new Chart(ctx).Line(data,options);
				};
				/* 菜单事件 */
				$('.pregIcon').bind('touchend',function(){
					$('.pregIcon').removeClass('active');
					$(this).addClass('active');
					$('.preg-content').removeClass('active');
					$('#loading-btn').show();
					var tabNum = $(this).attr('tabNum');
					if(tabNum == "1"){
						$('.mense-content').addClass('active');
						loadMenseChart();
						curTab = 1;
					}
					else if(tabNum == "2"){
						$('.temp-content').addClass('active');
						loadTempChart();
						curTab = 2;
					}
					else if(tabNum == "3"){
						$('.pregw-content').addClass('active');
						loadPregwChart();
						curTab = 3;
					}
					else{
						$('.pregm-content').addClass('active');
						loadPregmChart();
						curTab = 4
					}
					$('#loading-btn').fadeOut(2000);
					return false;
				});

				/* 添加按钮 */
				/*document.getElementById('mense-add-btn').addEventListener('tap', function() {
					if(curTab == "1")
						$('.mense-model').removeClass('mui-hidden');
					else if(curTab == "2")
						$('.temp-model').removeClass('mui-hidden');
					else if(curTab == "3")
						$('.pregw-model').removeClass('mui-hidden');
					else
						$('.pregm-model').removeClass('mui-hidden');
					mask.show();
				});*/

 				/*遮罩层*/
				$('#pregDrop').bind('touchstart',function(){
					$(this).hide();
					$('.form-model').addClass('mui-hidden');
				});
				$('#mense-add-btn').bind('touchend',function(){
					if(curTab == "1")
						$('.mense-model').removeClass('mui-hidden');
					else if(curTab == "2")
						$('.temp-model').removeClass('mui-hidden');
					else if(curTab == "3")
						$('.pregw-model').removeClass('mui-hidden');
					else
						$('.pregm-model').removeClass('mui-hidden');
					$('#pregDrop').show();
					return false;
				});
				/* mobiscroll 日期控件*/
				/*$('#model-data-btn').mobiscroll().calendar({
					theme: 'ios',
					lang: 'zh',
					display: 'bottom'
				});*/
				/* 表格事件*/
				$('.table-more-btn').bind('touchend',function(){
					if ($(this).hasClass("shrink")) {
						$('.table-more-icon').removeClass('mui-icon-arrowdown');
						$('.table-more-icon').addClass('mui-icon-arrowup');
						$('.table-more').removeClass('table-hidden');
						$(this).removeClass('shrink');
					} else {
						$('.table-more-icon').addClass('mui-icon-arrowdown');
						$('.table-more-icon').removeClass('mui-icon-arrowup');
						$('.table-more').addClass('table-hidden');
						$(this).addClass('shrink');
					}
					return false;
				})
				/* 滚轮控件 */
				/* 体温滚轮 */
				$('#temp-scroller').mobiscroll().scroller({
			        theme: 'mobiscroll',
			        display: 'inline',
			        rows:3,
			        multiline:2,
			        //showLabel:true,
			        layout:'liquid',
			        height:40,
			         wheels: [[
			                {
			                	label:'整数部分',
			                    values: ["30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45"]
			                },
			                {
			                	label:'小数部分',
			                    values: ["0℃","1℃","2℃","3℃","4℃","5℃","6℃","7℃","8℃","9℃"]
			                }
			            ]]
			    });
			    /* 孕重滚轮 */
				$('#pregw-scroller').mobiscroll().scroller({
			        theme: 'mobiscroll',
			        display: 'inline',
			        rows:3,
			        multiline:2,
			        //showLabel:true,
			        layout:'liquid',
			        height:40,
			         wheels: [[
			                {
			                	label:'整数部分',
			                    values: ["50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65"]
			                },
			                {
			                	label:'小数部分',
			                    values: [".0Kg",".1Kg",".2Kg",".3Kg",".4Kg",".5Kg",".6Kg",".7Kg",".8Kg",".9Kg"]
			                }
			            ]]
			    });
			    /* 胎动滚轮 */
				$('#pregm-scroller').mobiscroll().scroller({
			        theme: 'mobiscroll',
			        display: 'inline',
			        rows:3,
			        showLabel:false,
			        layout:'liquid',
			        height:40,
			         wheels: [[
			                {
			                	label:'次数',
			                    values: ["30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45"]
			                }
			            ]]
			    });
			});
		</script>
#{/set}