#{extends 'client.html' /}
#{set title:'我的孩子' /}
#{output 'Client/record/babyTpl.html'/}
<link rel="stylesheet" href="@{'/public/stylesheets/client/baby.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/client/myBaby.css'}">
<script src="http://dcloudio.github.io/mui/dist/js/bootstrap.min.js"></script>
<script src="http://dcloudio.github.io/mui/assets/js/docs.min.js?v=2014-12-30 14:09:32 +0800"></script>
<link rel="stylesheet" href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.custom-2.14.4.min.css'}"  rel="stylesheet"/>
<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll-2.14.4-crack.js'}" type="text/javascript"></script>


<header class="mui-bar mui-bar-nav babyTitle">
  <a href="first" class="mui-icon mui-icon-home mui-pull-left"></a>
  <a id="newBabyBtn" class="mui-icon mui-icon-plusempty mui-pull-right"></a>
  <h1 class="mui-title">宝宝列表</h1>
</header>

<!--孩子列表-->
<ul class="mui-table-view child-list">

</ul>

<!-- 还没有宝宝数据提示 -->
<div class="nullTips">
	<div class="babyIcon"><i class="iconBaby iconfont">&#xf001d;</i></div>
	<div class="noBabyTips">没有找到您的宝宝资料哦!</br>赶快去录入吧！</div>
</div>

<!-- 操作结果信息 -->
<div class="infTips response-tips">
	
</div>

<!-- 添加宝宝 -->
<div class="mui-popover newBabyBox">
	<!-- <div class="mui-content-padded"> -->
	<header class="mui-bar mui-bar-nav model-header">
		<h1 class="mui-title model-title">宝宝诞生</h1>
		<div id="item-headImg-add" class="item-headImg-add">
			<img id="newBaby-HeadImg" class="mui-media-object child-img circle-headImg" src="/public/images/client/default-boy.jpg" alt="添加头像"/>
			<!-- <div class="headImg-title">头像</div> -->
		</div>
	</header>
	<form class="mui-input-group new-baby-form">
		<div class="mui-input-row">
			<label>小名</label>
			<input id="babyName" type="text" placeholder="请输入小名">
		</div>
		
		<div class="mui-input-row">
			<label>性别</label>
			<ul class="sexSelection">
				<li class="mui-table-view-cell mui-radio mui-left">
					<input id="radio-male" class="radio-sex-baby" name="radio-sex-baby" type="radio" value="男" checked/>男
				</li>
				<li class="mui-table-view-cell mui-radio mui-left">
					<input class="sex-radio radio-sex-baby" name="radio-sex-baby" type="radio" value="女" />女
				</li>
			</ul>
		</div>
		<div class="mui-input-row">
			<div id="dateVacBox" class="dateBox_vac">
					<img  class="dateImg_vac popover_date_img" src="@{'/public/images/client/date.png'}" alt=""/>
					<span class="dateNo popover_dateNo"></span>
			</div>
			<label>出生日期</label>
			<input id="birthday-input" type="text" placeholder="日期输入" class="dateBox_vac">
		</div>
		<div class="mui-button-row">
			<button id="baby-add-btn" class="mui-btn mui-btn-primary confirm-btn" onclick="return false;">确认</button>&nbsp;&nbsp;
			<button id="baby-add-cancel-btn" class="mui-btn mui-btn-primary cancel-btn" onclick="return false;">取消</button>
		</div>
	</form>
	<div class="nb-Tips infTips"></div>
<!-- </div> -->
	
</div>
<!-- 添加宝宝结束 -->

#{set 'moreScripts'}
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript" src = "@{'/public/javascripts/juicer.js'}"></script>
<script>
	$(function(){

		mui.init({
		  gestureConfig:{
		   tap: true, //默认为true
		   // doubletap: true, //默认为false
		   longtap: true, //默认为false
		   // swipe: true, //默认为true
		   // drag: true, //默认为true
		   // hold:false,//默认为false，不监听
		   // release:false//默认为false，不监听
		  }
		});

		/*弹出宝宝添加框*/
		document.getElementById("newBabyBtn").addEventListener("tap",function(event){

 			mui('.newBabyBox').popover('toggle');
 			recoverAddBox();//还原弹出框内容
		});

		//设置日期图标中的日期号码
		$('.dateNo').text(new Date().getDate());

		//日期控件触发
		// $(".dateBox_vac").mobiscroll().calendar({
		// 		theme:'ios',
		// 		lang:'zh',
		// 		display:'bottom'
		// });

		//日期控件触发
		$(".dateBox_vac").mobiscroll().calendar({
				theme:'ios',
				lang:'zh',
				display:'bottom',
				// onSetDate:function(day,inst){
				// 			console.log(day);
				// 		},
				// 		onDayChange:function(day,inst){
				// 			console.log("changeDay");
				// 		}
		});

		/*加载宝宝列表*/
		/*$.get("/CBabyAction/loadBabyList",function(data){
			if(data.result==0){//操作成功
				var html = juicer($('#babyTpl').html(),{babyList:data.data});
				
				console.log(html);
				$('.child-list').append(html);

				$(".baby-img-link").bind('touchend',function(e){
					$(this).parent().parent().attr("href","babyInf");
					localStorage.babyId = $(this).parent().parent().children(".babyId").text();
					e.stopPropagation();
					return true;
				});

				$(".item-babyList").bind('touchend',function(){
					
					localStorage.babyId = $(this).children(".babyId").text();
					return true;
				});
				
			}else{//操作失败
				if(data.data == "找不到宝宝"){
					$('.nullTips').show();
				}else{//操作异常

				}
			}
			
		});
		*/
		
		loadBabyList();


		/*添加宝宝头像*/
		document.getElementById("item-headImg-add").addEventListener("tap",function(event){
			// $("#newBaby-HeadImg").attr("src","/babyimage/jF6mH0Sk50TVa-8LmDHZm6aAbfLMxB0gi37zVp_LJ9yDUwYBhmDaBz4JW_G2Z8XV.jpg");;
			alert("头像");
		/*	wx.checkJsApi({
			    jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
			    success: function(res) {
			        // 以键值对的形式返回，可用的api值true，不可用为false
			        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
			        if(res.checkResult.chooseImage == false){
			        	showResTips("接口不可用，请升级微信版本");
			        }
			    }
			});*/
			wx.chooseImage({
			    success: function (res) {
			    	//返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			    	var localIds = res.localIds; 
			    	var localId = localIds[0];
			    	// alert(localId+"---"+localIds.length);
			    	$("#baby-headImg").attr("src",localId.toString());
			    	// $("#newBaby-HeadImg").addClass("circle-headImg");
					localStorage.localId =  localId;//把localId在本地先缓存
					alert(typeof(localId));
					//上传头像图片
					wx.uploadImage({
						localId: localStorage.localId, // 需要上传的图片的本地ID，由chooseImage接口获得
						isShowProgressTips: 1, // 默认为1，显示进度提示
						success: function (res) {
							    var serverId = res.serverId; // 返回图片的服务器端ID
							    localStorage.serverId = serverId;
							    $.post("/CBabyAction/downloadBabyImg",{
							    	babyId:"",
				 					media_id:serverId 
							    },function(data){
							        if(data.result==0){
							        	localStorage.headImgUrl = data.data;
							        	$("#newBaby-HeadImg").attr("src",localStorage.headImgUrl);
							        }else{
							        	showResTips(data.data)
							        }
							        	
							    });
							}
					});//结束uploadImage接口
				}
			});//结束wx.chooseImage接口
		});
		

		/*添加宝宝*/
		document.getElementById("baby-add-btn").addEventListener("tap",function(event){
		 	//检查资料完整性
		 	var dataComplete = true;

		 	//检查小名
		 	var name = $("#babyName").val();
		 	if("" == name){
		 		dataComplete = false;
		 		$(".nb-Tips").text("小名不能为空！").show();;
		 		return false;
		 	}

		 	var sex = $('input:radio[name="radio-sex-baby"]:checked').val();

		 	//检查出生日期
		 	var birthday_string = $("#birthday-input").val();
		 	// var birthday_date;
		 	if("" == birthday_string){
		 		dataComplete = false;
		 		$(".nb-Tips").text("出生日期不能为空！").show();
		 		return false;
		 	}

		 	//检查头像
		 	// var headImg = "";
		 	// if(localStorage.headImgUrl == null || ""== localStorage.headImgUrl){
				// dataComplete = false;
		 	// 	$(".nb-Tips").text("点击右上角+号上传选择宝宝头像哦！").show();
				// return false;
		 	// }
		 	// headImg = localStorage.localId;


		 	$.post("/CBabyAction/addBaby",{
					    	name:name,
		 					sex:sex,
		 					headImgUrl:localStorage.headImgUrl,
		 					birthday:birthday_string   
					    },function(data){
					        if(data.result==0){
					        	mui('.newBabyBox').popover('toggle');
					        	// if(data.data[0].headImgUrl == null || ""==data.data[0].headImgUrl){
					        	// 	showResTips("宝宝添加成功!</tr>头像获取失败,请在宝宝资料重新上传!")
					        	// }
					    //     	var html = juicer($('#babyTpl').html(),{babyList:data.data});
			 					// $('.child-list').append(html);

			 					loadBabyList();
					        }else{
					        	showResTips(data.data)
					        }
					      	
			});
		 	/*//上传头像图片
			wx.uploadImage({
				localId: localStorage.localId, // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					    var serverId = res.serverId; // 返回图片的服务器端ID
					    localStorage.serverId = serverId;
					    $.post("/CBabyAction/addBaby",{
					    	name:name,
		 					sex:sex,
		 					media_id:serverId,
		 					birthday:birthday_string   
					    },function(data){
					        if(data.result==0){
					        	mui('.newBabyBox').popover('toggle');
					        	if(data.data[0].headImgUrl == null || ""==data.data[0].headImgUrl){
					        		showResTips("宝宝添加成功!</tr>头像获取失败,请在宝宝资料重新上传!")
					        	}
					        	var html = juicer($('#babyTpl').html(),{babyList:data.data});
			 					$('.child-list').append(html);
					        }else{
					        	showResTips(data.data)
					        }
					        	
					    });
					}
			});
			//结束uploadImage接口
			*/

		});
		
		/*添加宝宝弹出框取消按钮*/
		document.getElementById("baby-add-cancel-btn").addEventListener("tap",function(event){
			mui('.newBabyBox').popover('toggle');
		});

		$(".radio-sex-baby").click(function(){
			changeDefaultImg();
		});
		
	});//结束$(function);
	
	/*加载宝宝列表*/
		function loadBabyList(){
			$.get("/CBabyAction/loadBabyList",function(data){
				if(data.result==0){//操作成功
					// $('.child-list').
					$('.nullTips').hide();
					var html = juicer($('#babyTpl').html(),{babyList:data.data});
					$('.child-list').html(html);
					// $('.child-list').append(html);

					$(".baby-img-link").bind('touchend',function(e){
						$(this).parent().parent().attr("href","babyInf");
						localStorage.babyId = $(this).parent().parent().children(".babyId").text();
						e.stopPropagation();
						return true;
					});

					$(".item-babyList").bind('touchend',function(){
						
						localStorage.babyId = $(this).children(".babyId").text();
						return true;
					});
					
				}else{//操作失败
					if(data.data == "找不到宝宝"){
						$('.nullTips').show();
					}else{//操作异常

					}
				}
				
			});
		};

	
	/*还原添加框内容*/
	function recoverAddBox(){
		$("#babyName").val("");
		$("#radio-male").trigger("click");
		$("#birthday-input").val("");
		$("#newBaby-HeadImg").attr("src","/public/images/client/default-boy.jpg");
		localStorage.headImgUrl = ""; //清楚上次录入的头像
		$(".nb-Tips").text("").hide();
	}

	/*展示操作信息*/
	function showResTips(result){
		$(".response-tips").text(result);
		$(".response-tips").show();
		window.setTimeout("hideTips()",1500);
	}

	/*隐藏信息提示，并清空*/
	function hideTips(){
		$(".response-tips").text("");
		$(".response-tips").hide();
	}

	/*切换男女头像*/
	function changeDefaultImg(){
		if(localStorage.headImgUrl == null || ""== localStorage.headImgUrl){
			var sex = $('input:radio[name="radio-sex-baby"]:checked').val();
			if(sex == "男"){
				$("#newBaby-HeadImg").attr("src","/public/images/client/default-boy.jpg");
			}else{
				$("#newBaby-HeadImg").attr("src","/public/images/client/default-girl.jpg");
			}
		}
		
		
	}
</script>

<script type="text/javascript">
	$(function(){

		/* ajax调用获得接口信息 */
		$.get("/WeChat/jsApiCall?url="+location.href.split('#')[0],function(data,status){
			/*获取接口配置信息*/
			var timestamp = data.data.timestamp;
			var nonceStr = data.data.nonceStr;
			var signature = data.data.signature;

			// alert(location.href.split('#')[0]);
			// alert(signature);
		    /* 配置微信接口信息 */
			wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: 'wx485f2bc0867fe1c2', // 必填，公众号的唯一标识
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: nonceStr, // 必填，生成签名的随机串
			    signature: signature,// 必填，签名，见附录1
			    jsApiList: ['chooseImage','previewImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});
		});
		
		wx.ready(function(){
	    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
		});

		wx.error(function(res){
	    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});
	})
</script>
#{/set}