#{extends 'client.html' /}
#{set title:'家庭助理，助力家庭' /}
<link rel="stylesheet" href="@{'/public/stylesheets/client/psnCenter.css'}?v=20150804">
<script type="text/javascript" src = "@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>
<div class="psnBox">
	<div class="imgAndname">
		<div class="headImg">
			<img src="${user.headimgurl}" alt="${user.nickname}"/>
		</div>
		<span class="nickname">${user.nickname}</span>
	</div>

	<div id="introdction" class="introdction">${user.signName}</div>
</div>
<nav class="navbox">
	<ul>
		<li>
			<a href="/Client/first" class="psnnav">
				<!-- <i class="icon-psnNav iconfont">&#xe66b;</i> -->
        <i class="icon-psnNav iconfont">&#x3435;</i>
				<div class="psnnavName">首页</div>
			</a>
		</li>
		<li>
			<a id="baby-link" href="myBaby" class="psnnav">
				<!-- <i class="icon-psnNav babyIconFont iconfont">&#xf01d4;</i> -->
        <i class="icon-psnNav babyIconFont iconfont">&#xf01d4;</i>
				<div class="psnnavName">宝宝</div>
			</a>
		</li>
		<li>
			<a href="/client/remind" class="psnnav">
				<!-- <i class="icon-psnNav clockIconFont iconfont">&#xe660;</i> -->
        <i class="icon-psnNav clockIconFont iconfont">&#xe660;</i>
				<div class="psnnavName">提醒</div>
			</a>
		</li>
	</ul>
</nav>

<!-- <ul class="mui-table-view navList">
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
    	<div class="listItemIcon">
    		<i class="icon-psnItem coinIcon iconfont">&#xe61f;</i>
    	</div>
      金币
    </a>
  </li>
</ul> -->



<ul class="mui-table-view navList">
  <li class="mui-table-view-cell" id="cloveIdItem">
    <a class="mui-navigate-right ">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem idIcon iconfont">&#xe63e;</i>
	    </div>
	    <div class="listItemText">${user.cloveId}</div>
      用户号
    </a>
  </li>
<!--   <li class="mui-table-view-cell" id="phoneItem">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xe65c;</i>
	    </div>
	    <div class="listItemText">${user.phoneNum}</div>
      手机号
    </a>
  </li> -->
<!--   <li class="mui-table-view-cell" id="emailItem">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xe624;</i>
	    </div>
	    <div class="listItemText">${user.email}</div>
      邮箱
    </a>
  </li>
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem iconfont">&#xe619;</i>
	    </div>
	    <div class="listItemText">${user.userGrade}</div>
      用户等级
    </a>
  </li>
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
    	<div class="listItemIcon">
    		<i id="icontest" class="icon-psnItem addVIcon iconfont">&#xe6d9;</i>
    	</div>
    	<div class="listItemText">${user.isAddV}</div>
      加V认证
    </a>
  </li> -->
</ul>

<ul class="mui-table-view navList">
<!--   <li class="mui-table-view-cell">
    <a class="mui-navigate-right psnInfItem">
      <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xf0038;</i>
      </div>
      等级规则
    </a>
  </li> -->
  <li class="mui-table-view-cell">
    <a href="/client/rules" class="mui-navigate-right">
      <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xe643;</i>
      </div>
      使用声明
    </a>
  </li>
</ul>

<ul class="mui-table-view navList">
  <li class="mui-table-view-cell" id="cloveIdItem">
    <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI4Njg5NQ==&mid=206742364&idx=1&sn=1a59b5e9d185367ed4096aa0c74d0cb6#wechat_redirect" class="mui-navigate-right">
     <!--  <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xe643;</i>
      </div> -->
      常见问题
    </a>
  </li>

  <li class="mui-table-view-cell" id="cloveIdItem">
    <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI4Njg5NQ==&mid=206747746&idx=1&sn=515810bdb9f8e83524e1487f092b87ae#wechat_redirect" class="mui-navigate-right">
      <!-- <div class="listItemIcon">
        <i class="icon-psnItem iconfont">&#xe643;</i>
      </div> -->
      关于我们
    </a>
  </li>

</ul>

<script type="text/javascript">

  //丁香号
  document.getElementById("cloveIdItem").addEventListener("tap",function(event){
    localStorage.modifyItem = 1;
    window.location.href="modifyPhone";
  });

  //手机号
 /* document.getElementById("phoneItem").addEventListener("tap",function(event){
    // localStorage.modifyItem = 2;
    // window.location.href="modifyPhone";
    alert("等待提供短信服务");
  });
*/

  // //邮箱
  // document.getElementById("emailItem").addEventListener("tap",function(event){
  //   localStorage.modifyItem = 3;
  //   window.location.href="modifyPhone";
  // });

   /*心情设置*/
    document.getElementById("introdction").addEventListener("tap",function(event){
      localStorage.modifyItem = 4;
      window.location.href="modifyPhone";
    });


  /*我的宝宝*/
  document.getElementById("baby-link").addEventListener("tap",function(event){
    localStorage.lastPage = "psnCenter";
    return true;
  });;
</script>
