#{extends 'client.html' /}
#{set title:'会员中心' /}
<link rel="stylesheet" href="@{'/public/stylesheets/client/psnCenter.css'}">
<script type="text/javascript" src = "@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>
<div class="psnBox">
	<div class="imgAndname">
		<div class="headImg">
			<img src="${user.headimgurl}" alt="${user.nickname}"/>
		</div>	
		<span class="nickname">${user.nickname}</span>
	</div>
	
	<div class="introdction">快乐生活每一天</div>
</div>
<nav class="navbox">
	<ul>
		<li>
			<a href="#" class="psnnav">
				<i class="icon-psnNav iconfont">&#xe66b;</i>
				<div class="psnnavName">个人</div>
			</a>
		</li>
		<li>
			<a href="#" class="psnnav">
				<i class="icon-psnNav babyIconFont iconfont">&#xf01d4;</i>
				<div class="psnnavName">宝宝</div>
			</a>
		</li>
		<li>
			<a href="/client/remind" class="psnnav">
				<i class="icon-psnNav clockIconFont iconfont">&#xe660;</i>
				<div class="psnnavName">提醒</div>
			</a>
		</li>
	</ul>
</nav>

<ul class="mui-table-view navList">
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
    	<div class="listItemIcon">
    		<i class="icon-psnItem coinIcon iconfont">&#xe61f;</i>
    	</div>
      金币
    </a>
  </li>
</ul>

<ul class="mui-table-view navList">
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right psnInfItem">
    	<div class="listItemIcon">
    		<i class="icon-psnItem iconfont">&#xf0038;</i>
    	</div>
      等级规则
    </a>
  </li>
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
    	<div class="listItemIcon">
    		<i class="icon-psnItem iconfont">&#xe643;</i>
    	</div>
      会员制度
    </a>
  </li>
</ul>

<ul class="mui-table-view navList">
  <li class="mui-table-view-cell" id="cloveIdItem">
    <a class="mui-navigate-right ">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem idIcon iconfont">&#xe63e;</i>
	    </div>
	    <div class="listItemText">${user.cloveId}</div>
      丁香号
    </a>
  </li>
  <li class="mui-table-view-cell" id="phoneItem">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem iconfont">&#xe6bb;</i>
	    </div>
	    <div class="listItemText">${user.phoneNum}</div>
      手机号
    </a>
  </li>
  <li class="mui-table-view-cell" id="emailItem">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem iconfont">&#xe838;</i>
	    </div>
	    <div class="listItemText">${user.email}</div>
      邮箱
    </a>
  </li>
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
	    <div class="listItemIcon">
	    	<i class="icon-psnItem iconfont">&#xe619;</i>
	    </div>
	    <div class="listItemText">${user.userGrade}</div>
      用户等级
    </a>
  </li>
  <li class="mui-table-view-cell">
    <a class="mui-navigate-right">
    	<div class="listItemIcon">
    		<i id="icontest" class="icon-psnItem addVIcon iconfont">&#xe6d9;</i>
    	</div>
    	<div class="listItemText">${user.isAddV}</div>
      加V认证
    </a>
  </li>
</ul>

<script type="text/javascript">
  //丁香号
  document.getElementById("cloveIdItem").addEventListener("tap",function(event){
    localStorage.modifyItem = 1;
    window.location.href="modifyPhone"; 
  });

  //手机号
  document.getElementById("phoneItem").addEventListener("tap",function(event){
    localStorage.modifyItem = 2;
    window.location.href="modifyPhone"; 
  });

  //邮箱
  document.getElementById("emailItem").addEventListener("tap",function(event){
    localStorage.modifyItem = 3;
    window.location.href="modifyPhone"; 
  });
</script>


