#{extends 'client.html' /}
#{set title:'丁香小工具' /}

<header class="mui-bar mui-bar-nav babyTitle">
  <a href="first" class="mui-icon mui-icon-home mui-pull-left"></a>
  <h1 class="mui-title">丁香小工具</h1>
</header>

<!--孩子列表-->
<ul class="mui-table-view stools-list">
	<li class="mui-table-view-cell mui-media">
		<a href="http://www.lightweb.cn/ycq/ycqjs/index.html" class="mui-navigate-right">
			<div class="stool-Item-IconBox mui-media-object mui-pull-left">
		      	<i class="iconfont stool-Item-Icon">&#xe60d;</i>
		    </div>

			<div class="mui-media-body">
				<span class="stool-name">预产期计算</span>
				<div> 
					<span class="intro_stool">轻松准确地进行预产期计算</span>
				</div>				
			</div>
		</a>
	</li>

	<li class="mui-table-view-cell mui-media">
		<a href="#" class="mui-navigate-right">		
			<div class="stool-Item-IconBox mui-media-object mui-pull-left">
		      	<i class="iconfont stool-Item-Icon">&#xe741;</i>
		    </div>
			<div class="mui-media-body">
				<span class="stool-name">产检通</span>
				<div> 
					<span class="intro_stool">轻轻松松了解产检细节</span>
				</div>				
			</div>
		</a>
	</li>

	<li class="mui-table-view-cell mui-media">
		<a href="#E" class="mui-navigate-right">
			<div class="stool-Item-IconBox mui-media-object mui-pull-left">
		      	<i class="iconfont stool-Item-Icon">&#xe623;</i>
		    </div>

			<div class="mui-media-body">
				<span class="stool-name">超市购物清单</span>
				<div> 
					<span class="intro_stool">再也不用为超市购物烦恼了</span>
				</div>				
			</div>
		</a>
	</li>

	<li class="mui-table-view-cell mui-media">
		<a href="#" class="mui-navigate-right">		
			<div class="stool-Item-IconBox mui-media-object mui-pull-left">
		      	<i class="iconfont stool-Item-Icon">&#xe600;</i>
		    </div>

			<div class="mui-media-body">
				<span class="stool-name">单位换算</span>
				<div> 
					<span class="intro_stool">单位换算，无烦恼</span>
				</div>				
			</div>
		</a>
	</li>
</ul>

<link rel="stylesheet" href="@{'/public/stylesheets/client/stools.css'}">
<script src="http://dcloudio.github.io/mui/dist/js/jquery-2.1.1.js"></script>
<script src="http://dcloudio.github.io/mui/dist/js/bootstrap.min.js"></script>
<script src="http://dcloudio.github.io/mui/assets/js/docs.min.js?v=2014-12-30 14:09:32 +0800"></script>
