<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<title>助孕记录</title>
		<script src="@{'/public/javascripts/client/mui.min.js'}"></script>
		<link href="@{'/public/stylesheets/client/mui.min.css'}" rel="stylesheet" />
		<link href="@{'/public/stylesheets/client/client.theme.css'}" rel="stylesheet" />
		<link href="@{'/public/stylesheets/client/pregnant.css'}" rel="stylesheet" />
		<link href="@{'/public/stylesheets/client/mobiscroll/mobiscroll.custom-2.14.4.min.css'}" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
		<script src="@{'/public/javascripts/client/mobiscroll/mobiscroll-2.14.4-crack.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/client/Chart.min.js'}" type="text/javascript"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav client-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title client-title">助孕记录</h1>
			<a href="#offCanvas" class="mui-icon mui-icon-bars mui-pull-right"></a>
		</header>
		<div class="mui-content preg-menu-content">
			<div id="preg-menu">
				<ul>
					<li>
						<a class="pregIcon" href="/Client/pregMense"><i class="icon iconfont">&#xe686;</i></a> 月经
					</li>
					<li>
						<a class="pregIcon active" href="/Client/pregTemp">
							<i class="icon iconfont">&#xde630;</i>
						</a>
						体温
					</li>
					<li>
						<a class="pregIcon " href="/Client/pregWeight">
							<i class="icon iconfont">&#xe673;</i>
						</a>
						孕重
					</li>
					<li>
						<a class="pregIcon " href="/Client/pregMove">
							<i class="icon iconfont">&#xf01d4;</i>
						</a>
						胎动
					</li>
				</ul>
			</div>
		</div>
		<div class="mui-content">
			<a href="#" id="mense-btn" class="preg-add-btn">

				+

			</a>
			<div class="mui-content preg-content">
				<div class="preg-content-section">
					<div class="preg-title">最近记录</div>
					<table class="preg-record-table">
						<thead>
							<tr>
								<th>记录日期</th>
								<th>体温(℃)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>36℃</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>36.8℃</td>
							</tr>
							<tr class="tr-even">
								<td>2015-01-02</td>
								<td>37℃</td>
							</tr>
							<tr>
								<td>2015-01-02</td>
								<td>38.3℃</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>40℃</td>
							</tr>
							<tr class="table-hidden table-more">
								<td>2015-01-02</td>
								<td>37.5℃</td>
							</tr>
							<tr class="tr-even table-hidden table-more">
								<td>2015-01-02</td>
								<td>36.8℃</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<a href="#" class="table-more-btn shrink"><span class="mui-icon table-more-icon mui-icon-arrowdown"></span></a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="preg-content-section">
					<div class="preg-title">孕妇体温</div>
					<canvas id="myChart">
					</canvas>
				</div>
			</div>
			<div class="form-model mense-model mui-hidden">
				<header class="mui-bar mui-bar-nav model-header">
					<button class="mui-btn mui-pull-right model-btn" id="model-data-btn">
						日期
					</button>
					<h1 class="mui-title model-title">体温记录</h1>
				</header>
				<div class="model-content">
					<div class="model-content-list">
						<span class="model-content-list-title"><img src="@{'/public/images/client/icon.png'}">颜色:</span>
						<select class="model-content-list-select">
							<option>暗红</option>
							<option>血红</option>
						</select>
						<span class="model-content-list-title"><img src="@{'/public/images/client/dimension.png'}">经量:</span>
						<select class="model-content-list-select">
							<option>大</option>
							<option>中</option>
							<option>小</option>
						</select>
					</div>
					<div class="model-content-list">
						<span class="model-content-list-title"><img src="@{'/public/images/client/icon.png'}">色块:</span>
						<select class="model-content-list-select">
							<option>有</option>
							<option>无</option>
						</select>
						<span class="model-content-list-title"><img src="@{'/public/images/client/hurt.png'}">痛经:</span>
						<select class="model-content-list-select">
							<option>有</option>
							<option>无</option>
						</select>
					</div>
					<div class="model-content-list model-content-list-bottom">
						<span class="model-content-list-title"><img src="@{'/public/images/client/hurt.png'}">稠度:</span>
						<select class="model-content-list-select">
							<option>浓</option>
							<option>稀</option>
						</select>
					</div>
				</div>
				<div class="model-bottom">
					<button class="mui-btn mui-btn-negative model-btn-refresh">更新</button>
				</div>
				<div class="model-tips">
					<button class="mui-btn last-btn">上一次</button>
					<span class="model-content-list-content">暗红，大经量，有色块，痛经，稠</span>
				</div>
			</div>
		</div>

		<script>
			var mask = mui.createMask(function() {
				this.close(); //关闭遮罩
				$('.mense-model').addClass('mui-hidden');
			});
			document.getElementById('mense-btn').addEventListener('tap', function() {
				$('.mense-model').removeClass('mui-hidden');
				mask.show();
			});
			$(function() {
				$('#model-data-btn').mobiscroll().calendar({
					theme: 'ios',
					lang: 'zh',
					display: 'bottom'
				});
				$('#show2').click(function() {
					$('#demo').mobiscroll('show');
					return false;
				});
				$('#clear2').click(function() {
					$('#demo').mobiscroll('clear');
					return false;
				});
			});
		</script>
		<script>
			$(function() {
				/* 表格事件*/
				$('.table-more-btn').click(function() {
					if ($(this).hasClass("shrink")) {
						$('.table-more-icon').removeClass('mui-icon-arrowdown');
						$('.table-more-icon').addClass('mui-icon-arrowup');
						$('.table-more').removeClass('table-hidden');
						$(this).removeClass('shrink');
					} else {
						$('.table-more-icon').addClass('mui-icon-arrowdown');
						$('.table-more-icon').removeClass('mui-icon-arrowup');
						$('.table-more').addClass('table-hidden');
						$(this).addClass('shrink');
					}
					return false;
				});
				/* 图表分析 */
				//alert(document.body.clientWidth);
				$("#myChart").attr("width", $(window).get(0).innerWidth*.9);
				$("#myChart").attr("height", $(window).get(0).innerHeight/3);
				 
				var ctx = $("#myChart").get(0).getContext("2d");
				var data = {
					labels: ["01/02", "02/04", "02/06", "02/08", "02/12", "02/16", "03/16"],
					datasets: [{
						fillColor: "rgba(220,220,220,0.5)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						data: [36, 36.8, 37, 38.3, 40, 37.5, 36.8]
					}]
				}
				var myNewChart = new Chart(ctx).Line(data);
			});
		</script>
	</body>

</html>