#{extends 'client.html' /}
#{set title:'体温分析' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/client/preg/pregDetai.css'}?v=20150822" rel="stylesheet" />
<link href="@{'/public/stylesheets/client/preg/mobiscroll.css'}" rel="stylesheet" type="text/css" />
#{/set}
#{output 'Client/record/pregDetailTpl.html'/}

<!-- 网页首部 -->
<header class="mui-bar mui-bar-nav client-bar-nav">
	<a class="mui-icon mui-icon-left-nav mui-pull-left" href="@{Client.pregMense}"></a>
	<h1 class="mui-title client-title">体温分析</h1>
</header>

<!-- 日期选择 -->


<!-- 选项卡 -->
<div class="mui-content">
	<div id="slider" class="mui-slider">
	<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
		<a class="mui-control-item active" href="#menseItem">体温记录</a>
		<a class="mui-control-item" href="#menseChart">图表统计</a>
	</div>
	<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6 negative"></div>
	<div class="mui-slider-group">
		<div id="menseItem" class="mui-slider-item mui-control-content mui-active">
			<!--input type="text" placeholder="开始日期" id="menseStartDate" class="dateInput"/>
			<input type="text" placeholder="结束日期" id="menseEndDate" class="dateInput"/>
			<button class="mui-btn mui-btn-block mui-btn-outlined">查找</button-->
			<div id="tableWrapper">
            <table class="preg-record-table" id="tempTable">
				<thead>
					<tr>
						<th>记录日期</th>
						<th>体温(℃)</th>
                        <th>同房</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
            </div>
            <a href="#" class="more-data hidden" id="more-data">点击显示更多</a>
		</div>
		<div id="menseChart" class="mui-slider-item mui-control-content">
			<div class="mense-chart-empty chart-empty not-shown">图表无数据显示</div>
			<!-- echatsjs图表 -->
			<div id="tempChart" class="preg-echart" style="height:250px;">

			</div>
		</div>
	</div>
        <a class="rotateBtn hidden">
            <span class="mui-icon mui-icon-loop"></span>
        </a>
</div>
</div>

#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">mui.init();</script>
<script src="@{'/public/javascripts/client/jquery-1.9.1.min.js'}"></script>
<script type="text/javascript" src = "@{'/public/javascripts/juicer.js'}"></script>
<script src="@{'/public/javascripts/client/preg/preg-mobiscroll.js'}"></script>
<script src="@{'/public/javascripts/client/echarts.js'}"></script>
<script type="text/javascript">
	$(function(){

	    var screenWidth = window.screen.width,screenHeight = window.screen.height;

	    var listNum = 0,curlist = 0;

		$('#menseStartDate').mobiscroll().date({
            theme: 'mobiscroll',
            display: 'bottom',
            lang: 'zh',
            onSelect: function(valueText, inst) {
                var selectedDate = inst.getVal(); // Call the getVal method
                var date = $.mobiscroll.datetime.formatDate('yy-mm-dd', selectedDate);
                // $('#pregw-date-val').attr('data-val', date);
           		$('#menseStartDate').val(date);
            }
        });
        $('#menseEndDate').mobiscroll().date({
            theme: 'mobiscroll',
            display: 'bottom',
            lang: 'zh',
            onSelect: function(valueText, inst) {
                var selectedDate = inst.getVal(); // Call the getVal method
                var date = $.mobiscroll.datetime.formatDate('yy-mm-dd', selectedDate);
                // $('#pregw-date-val').attr('data-val', date);
           		$('#menseStartDate').val(date);
            }
        });
        $('#menseChartStartDate').mobiscroll().date({
            theme: 'mobiscroll',
            display: 'bottom',
            lang: 'zh',
            onSelect: function(valueText, inst) {
                var selectedDate = inst.getVal(); // Call the getVal method
                var date = $.mobiscroll.datetime.formatDate('yy-mm-dd', selectedDate);
                // $('#pregw-date-val').attr('data-val', date);
           		$('#menseChartStartDate').val(date);
            }
        });
        $('#menseChartEndDate').mobiscroll().date({
            theme: 'mobiscroll',
            display: 'bottom',
            lang: 'zh',
            onSelect: function(valueText, inst) {
                var selectedDate = inst.getVal(); // Call the getVal method
                var date = $.mobiscroll.datetime.formatDate('yy-mm-dd', selectedDate);
                // $('#pregw-date-val').attr('data-val', date);
           		$('#menseChartEndDate').val(date);
            }
        });

        $.get('/CTemperature/loadAllTemp',function(data){
            // 总共这么多行
        	listNum = data.data.length;
        	console.log(data.data.length);
        	if(data.data.length>0) {
        	    $('#more-data').removeClass('hidden');
        	}
        	if(data.data.length<=5&&data.data.length>0) {
                curList = listNum;
                $('#tableWrapper').css('height',parseInt(31)*curList+parseInt(42)+'px');
                $('.more-data').addClass('hidden');
        	}
        	else{
        	    curList = 5;
                $('#tableWrapper').css('height',parseInt(31)*curList+parseInt(42)+'px');
        	}
        	var html = "";
        	if(data.data.length == 0){
        		html = "<tr class='tr-even'><td>无记录</td><td>无记录</td><td>无记录</td></tr>";
        	}
        	else{
				for(var i=0;i<data.data.length;i++){
				    var sex = '是';
				    if(data.data[i].sex==1)
				        sex = '是';
				    else
				        sex = '否';
					html+="<tr class='tr-even'><td>"+data.data[i].dateStr+"</td><td>"+data.data[i].temp+"℃</td><td>"+sex+"</td></tr>";
				}
        	}
        	$('#tempTable tbody').html(html);
        });

        $('.more-data').click(function(){
            console.log(curList);
            console.log(listNum);
            if(curList<listNum) {
                if((curList+5)>=listNum) {
                    $('#tableWrapper').css('height',parseInt(31)*listNum+parseInt(42)+'px');
                    $('.more-data').addClass('hidden');
                }
                else{
                    curList += 5;
                    $('#tableWrapper').css('height',parseInt(31)*curList+parseInt(42)+'px');
                }
            }
        });

        var dataList,labelList;

        // 加载图表数据
        var loadChart = function(cWidth,cHeight){
            $.get('/CTemperature/loadAllTempChart',function(data){
                    tempData = data.data.data;
                    tempLabel = data.data.label;
										sexData = data.data.sex;
										console.log(sexData);
                    if(tempData.length != 0){
                        var loadMenseChart = function() {
                            // 基于准备好的dom，初始化echarts图表
										        $('#tempChart').css("width", $(window).get(0).innerWidth);
										        var myChart = echarts.init(document.getElementById('tempChart'));

										        var option = {
										          color: ['#E79996'],
										          tooltip: {
										            show: true,
										          },
										          legend: {
										            x: 'center',
										            data: ['基础体温', '同房']
										          },
										          title: {
																text: '体温曲线图',
										            subtext: '所有体温变化'
										          },
										          toolbox: {
										            show: true,
										            feature: {
										              restore: {
										                show: true
										              },
										              saveAsImage: {
										                show: false
										              }
										            }
										          },
										          grid: {
										            x: 50,
										            y: 60,
										            x2: 50,
										            y2: 50
										          },
										          xAxis: [{
										            type: 'category',
										            data: tempLabel
										          }],
										          yAxis: [{
										            type: 'value',
										            min: 35,
										            max: 43,
										            axisLabel: {
										              formatter: '{value} °C'
										            }
										          }],
										          series: [{
										            "name": "基础体温",
										            "type": "line",
										            "data": tempData,
										            smooth: true,
										            showAllSymbol: true,
										            markLine: {
										              data: [{
										                type: 'average',
										                name: '平均值'
										              }]
										            }
										          }, {
										            "name": "同房",
										            "type": "scatter",
										            "data": sexData,
										            smooth: true,
										            showAllSymbol: true,
										            markPoint: {
										              data: sexData
										            },
										          }]
										        };
										        // 为echarts对象加载数据
										        myChart.setOption(option);
                        };
                        loadMenseChart();
                        $('.mense-chart-empty').addClass('not-shown');
                    }
                    else{
                        $('.mense-chart-empty').removeClass('not-shown');
                    }
                    //改变标志位，下次直接显示
                    item2Show = true;
                });
        }
        var item2Show = false;//子选项卡是否显示标志
        document.querySelector('.mui-slider').addEventListener('slide', function(event) {
          if (event.detail.slideNumber === 1&&!item2Show) {
            loadChart($(window).get(0).innerWidth,"150");
            //$('.rotateBtn').removeClass('hidden');
          }
          else if (event.detail.slideNumber === 1) {
            //$('.rotateBtn').removeClass('hidden');
          }
          else if (event.detail.slideNumber === 0) {
            //$('.rotateBtn').addClass('hidden');
          }
        });

        //初始化样式
        function initstyle(){
            $('#menseChart').css("height",screenWidth);
            $('.chart-empty').css("line-height",screenWidth+"px");
        }
        initstyle();

        // 旋转效果
        var rotated = false;
        $('.rotateBtn').click(function(){
            if(rotated!=true){
                rotateEffect();
                loadChart($(window).get(0).innerHeight,$(window).get(0).innerWidth-40);
            }
            else{
                canvelRotate();
                loadChart($(window).get(0).innerWidth,"150");
            }
            return false;
        });
        var topDis = parseInt((parseInt(screenHeight) - parseInt(screenWidth)))/2;
        var rotateEffect = function() {
            $('#sliderSegmentedControl').addClass('hidden');
            $('header').addClass('hidden');
            $('.mui-bar-nav~.mui-content').addClass('hidden');
            $('.mui-slider-progress-bar').addClass('hidden');
            $('.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item').addClass('hidden');
            $('.rotateBtn').addClass('rotate');
            $('#menseChart').addClass('rotate');
            $('#menseChart.rotate').css("width",screenHeight);
            $('#menseChart.rotate').css("margin-top",topDis+"px");
            $('#menseChart.rotate').css("margin-left","-"+topDis+"px");
            $('#slider').css("height",screenHeight);
            rotated = true;
        }
        var canvelRotate = function() {
            $('#sliderSegmentedControl').removeClass('hidden');
            $('header').removeClass('hidden');
            $('.mui-bar-nav~.mui-content').removeClass('hidden');
            $('.mui-slider-progress-bar').removeClass('hidden');
            $('.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item').removeClass('hidden');
            $('.rotateBtn').removeClass('rotate');
            $('#menseChart').removeClass('rotate');
            $('#menseChart').css("width",screenWidth);
            $('#menseChart').css("margin","0px");
            $('#slider').css("height","initial");
            rotated = false;
        }
	})
</script>
#{/set}
