/*iconnFont图标*/
@font-face {font-family: 'iconfont';
    src: url('../../fonts/iconfont-record.eot'); /* IE9*/
    src: url('../../fonts/iconfont-record.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont-record.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont-record.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont-record.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*添加按钮*/
.growth-add-btn{
	position: fixed;
	width:40px;
	height: 40px;
	border-radius:20px;
	background-color: #f2837f;
	text-align: center;
	color:#fff;
	line-height: 35px;
	font-size: 30px;
	bottom:20px;
	right: 20px;
	font-size: bold;
	padding:0px;
}

.recordNavIcon{
	display:inline-block;
	vertical-align:top;
	font-size: 17px;
	margin:0 auto;
}

.timeIcon{
	font-size: 18px;
}

li{
	/*border:1px solid red;*/
}

/*身体指标样式*/
.nbi-Tips{
	font-size: 15px;
	padding-left:15px;
}

/*成绩表单*/
.ngf-Tips{
	font-size: 15px;
	padding-left:15px;
}

/*疫苗导航*/
.vacIconNav{
	/*border:1px solid red;*/
	display:block;
	height: 45px;
	/*vertical-align:top;*/
	padding-top: 16px;
	font-size: 45px;
	margin:0 auto;
}

.vacIconNav:active{
	opacity: 0.5;
}

.todoIcon{
	color:#FA5454;
}

.doneIcon{
	color:#007AFF;
}

.allIcon{
	color:#51B495;
	font-size: 40px;
}

.mui-bar{
	vertical-align:top;
}

/*日期Icon*/
.dateIcon{
	color:#FA5454;
	font-size: 20px;
}

/*.mask{
	position: absolute;
	top:4px;
	width: 20px;
	height: 18px;
	background-color:black;
}

.num{
	position: absolute;
	top:;
}*/
.babyTitle{
	background-color: #DD524D;
	font-size:16px;
}

.babyTitle.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}


/*.babyMuiContent .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar{
	background-color: #FF9999;
}*/

.babyTitle>.mui-title{
	color:#fff;
}

#slider.mui-slider{
	min-height: 90%;
	height:auto;
}

.mui-btn-block.babyblock-btn{
	padding:7px 0;
	margin:0px auto;
	width:90%;
}
.mui-table-view.mui-grid-view.mui-grid-9.child-list{
	padding-top:44px;
	background-color: #fff;
	border:none;
}

.mui-table-view.mui-grid-view.mui-grid-9.child-list:after{
	background-color: #fff;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item{
	border:none;
}

.child-list .mui-table-view-cell.mui-media.mui-col-xs-4{
	border:0;
}

.child-list .mui-table-view-cell.mui-media.mui-col-xs-4.mui-active{
	background-color: #fff;
}

/*宝宝头像*/
.child-img:active{
	opacity: 0.5;
	/*width:70px;
	border:1px solid #ccc;
	border-radius:70px;
	background-color: #cacaca;*/
	/*border-radius:21px;*/
}

.child-list{
	padding-top: 44px;
}

.sexAndAge{
	/*padding-left:-5px;*/
	/*margin-left:5px;*/
	height: 21px;
	/*line-height: 0px;*/
	/*border:1px solid red;*/
}

.sexAndAge>img{
	display: block;
	float:left;
	margin-left:-3px;
	width: 21px;
	/*height: 21px;
	margin:0;
	padding:0;*/
}

.age{
	/*padding:0;
	margin:0;*/
	/*line-height: 0px;*/
	/*display: block;*/
	padding:0 3px;
	font-size:13px;
	background-color: rgba(244,144,144,0.5);
	/*border:1px solid red;*/
	color:#666;
	border-radius:5px;
}

/*---------没有宝宝数据提示样式---------*/
.nullTips{
	padding-top: 110px;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	display: none;
}

.babyIcon{
	padding-bottom: 15px;
}
.noBabyTips{
	text-align: center;
	font-size: 15px;
	color:#aaa;
}

/*-----------宝宝诞生样式------------*/
.newBabyBox{
/*	display: inline;
	opacity: 1;*/
	width:80%;
	position: absolute;
	top:40%;
	margin-top:-105px;
	left:10%;
	background-color: #fff;
}

.newBabyBox .mui-input-group .mui-input-row:after{
	/*left:5px;*/
}

.newBabyBox .mui-input-row label{
	padding-right: 10px;
	padding-top:11.5px;
	width:40%
}

.sexSelection{
	margin:0;
	padding:0;
	float:right;
	width:60%;
	/*text-align: left;*/
}

.sexSelection>li{
	float:left;
	width: 50%;
	/*border:1px solid red;*/
	height:38px;
	line-height: 19px;
	text-align: left;
}

.sexSelection>li>input{
	text-align: left;
}

.sexSelection .mui-radio.mui-left{
	padding-left:30px;
}

.sexSelection .mui-radio.mui-left input[type=radio]{
	top:4px;
	left:0;
}

.sexSelection .mui-table-view-cell:after{
	background-color: #fff;
}

.newBabyBox .mui-input-row input{
	width:60%;
}
/*-----------宝宝诞生样式结束------------*/


.mui-slider .mui-slider-group .mui-slider-item img.time-img{
	width:13px;
	padding-right: 2px;
}

.timeData{
	/*padding-left:1px;*/
}

.bodyIndex-content{
	display: none;
}

.floatRight-link{
	color:#929292;
	float: right;
	font-size: 12px;
	font-weight: normal;
	/*padding-right: */
}

.charBox{
	width:95%;
	min-height: 150px;
	margin:0 auto;
	padding-top: 5px;
	position: relative;
}

#bodySimChart{
	width:100%;
}

.mark_chart{
	position: absolute;
	right:2.5%;
	top:-5px;
	width: 155px;
	height: 30px;
	font-size: 11px;
	color: #bbb;
	padding-right:5px;
}

.unitDesc{
	position: absolute;
	top:-5px;
	left:15px;
	font-size: 12px;
	color: #bbb;
}

.standerDesc{
	float:right;
	padding-left:5px;
}

.babyDesc{
	float:right;
	padding-left:5px;
}

.line-stander{
	float:left;
	background-color: rgba(151,187,205,1);
	height: 3px;
	width: 20px;
	margin-top:7px;
	margin-right: 3px;
}

.line-baby{
	float:left;
	background-color: rgba(255,153,153,1);
	height: 3px;
	width: 20px;
	margin-top:7px;
	margin-right: 3px;
}
.mui-btn-block.babyblock-btn.newRecod-btn{
	margin-top: 10px;
	width:95%;
}

#item1mobile{
	height: 100%;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#slider{
	height: 100%;
}

.small-icon-bottom{
	width:15px;
}
.small-icon-bottom2{
	width:17px;
}
span.mui-icon.mui-icon-plus.test::before{
	width:15px;
}

.objectTitle{
	font-size: 1.1em;
	line-height: 20px;
	font-weight: bold;
	padding:18px 0px 10px 0px;
	width:95%;
	margin:0 auto;
}

.pointSign{
	width:4px;
	height: 18px;
	background-color: #FF9999;
	float:left;
}


.datalist{
	padding:0;
	margin:0;
}

.datalist>li{
	width:33%;
	text-align: center;
	display: inline-block;
	color:#929292;
}

.dataTitle{
	font-weight: bold;

}

.mui-bar-nav ~ .mui-content{
	min-height: 100%;
}

.babySlider{
	padding-top: 47px;
	border-bottom: none;
	min-height: 800px
}

.babySlider>#sliderSegmentedControl{
	position: fixed !important;
	border-bottom: 1px solid #c8c7cc;
	opacity: 1;
	/*border-bottom: 1px solid #ccc;*/
	background-color: #fff;
	z-index: 10;
	top:44px !important;
}

#sliderProgressBar{
	position: fixed;
	top:81px;
	z-index: 11;
}

.babySlider>.mui-slider-group>.mui-slider-item{
	margin-top: 38px !important;
	padding-bottom: 60px;
	/*background-color: yellow;*/
}

.mui-slider-group>.mui-control-content{
	border:none;
}

.babyMuiContent{
	background-color: #fff;
}

.mui-slider-item.mui-control-content{
	/*overflow-y:scroll;*/
}

#item1mobile{
	/*overflow-y:scroll;*/
}

.babySelectSlide{
	width:50%;
}

#babylist{
	position: fixed;
	top:44px;
	border: 1px solid gray;
	border-top:none;
	border-radius:0px;
	z-index: 1000 !important;
	font-size: 1.1em;
	line-height: 24px;
}

#babylist>ul{
	/*width:35%;*/
	background-color: #404040;
}

#babylist{
	/*height: 500px;*/
	/*overflow: scroll;*/
}

#babylist>.mui-table-view{
	width:160px;
	/*height: 140px;
	overflow: scroll;*/
	max-height: none;
	position: fixed;
	top:44px;
	right: 0;
	background-color: #fff;/*#404040;*/
	border-radius: 0px;
	font-size:15px;
}

#babylist>ul>li{
	padding-left:28px;
	border-radius: 0px;
}

.babyId,.babyId_hide{
	display: none;
}

.nullTips-babyGrowth,.nullTips-tab{
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left:10%;
	top:160px;
	text-align: center;
	color:red;
	font-size: 15px;
	display: none;

}

/*#babylist>ul>li:active{
	background-color: black;
}*/

/*-----------宝宝列表样式开始---------------*/
.headImgBox{
	float:left;
	height: 42px;
	width:42px;
	overflow: hidden;
	margin-right: 10px;
}

.new-baby-form{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.nb-Tips{
	font-size: 15px;
	padding-left:15px;
}

.mui-input-group .mui-input-row.item-headImg{
	height: 50px;
	line-height: 50px;
}

.newBabyBox .mui-input-row.item-headImg label{
	padding-top: 18px;
}

.item-headImg-add{
	/*float:right;*/
	position: absolute;
	right:0px;
	width:46px;
	height: 46px;
	overflow: hidden;
	z-index: 999;
	padding:0;
	padding-top:7px;
	/*border:1px solid red; */
	text-align: center;
	/*margin-top: 7px;
	margin-right: 10px;*/
}

.item-headImg-add>img{
	margin-top:7px;
	height:30px;
	line-height: 0;
	margin:0;
	padding:0;
	z-index: 999;
}

.item-headImg-add>img:active{
	opacity: 0.5;
}

.circle-headImg{
	border-radius:30px;
	/*borde*/
}

.headImg-title{
	font-size: 11px;
	line-height: 0px;
	position: absolute;
	top: 25px;
	/*border:1px solid red;*/
	text-align: center;
	width:100%;
	color:#000;
	padding:0;
	margin:0;
}

.mui-table-view .mui-media-object.mui-pull-left.child-img{
	max-width: none;
	margin-right: 10px;
}
/*-------------宝宝列表样式结束---------------*/
/*-------------宝宝资料样式开始-----------------*/
.infList-baby-headImg{
	margin-top:60px;
}

.infList-baby-inf{
	margin-top:15px;
}

.item-headImg{
	height: 64px;
	line-height: 48px;
	vertical-align: middle;
}

.item-baby-Inf{
	float:right;
	color:#bbb;
	
	/*padding-right: 15px;*/
}

.baby-headImg-box{
	height: 42px;
	width:42px;
	overflow: hidden;
}
.mui-table-view .mui-media-object.mui-pull-right.child-img{
	margin-left:0px;
	max-width: none;
}

.babyInf-box{
	display: none;
}

.form-model{
	position: fixed;
	width:80%;
	left:10%;
	top:20%;
	background-color: #fff;
	z-index: 999;
	border-radius:10px;
	min-height: 135px;
}

.mui-bar.mui-bar-nav.model-header{
	position: relative;
	height: 45px;
	line-height: 45px;
	background-color: #EF9D9A;
	border-bottom: 1px solid #EF9D9A;
	color:#fff;
	text-align: center;
	font-weight: 700;
	width:100%;
	padding:0;
	margin: 0 auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1000;
	box-shadow: 0 1px 6px #ccc;

}


.mui-title.model-title{
	color:#fff;
	font-weight: bold; 
}

.form-model>form{
	border-radius:5px;
	padding-top: 5px;
}

.mui-btn.mui-btn-primary.confirm-btn{
	background-color: #DA8F8F;
	border:1px solid #DA8F8F;
}

.mui-btn.mui-btn-primary.confirm-btn:active{
	background-color: #DD524D;
	border:1px solid #DD524D;
}

.mui-btn.mui-btn-primary.cancel-btn{
	background-color: #bbb;
	border:1px solid #bbb;
}

.mui-btn.mui-btn-primary.cancel-btn:active{
	background-color: #999;
	border:1px solid #999;
}


/*返还信息提示*/
.infTips{
	color:red;
	display: none;
}

.mn-tips{
	padding-left:15px;
	font-size: 14px;
}


.response-tips{
	width:80%;
	color:#cc3333;
	margin:0 auto;
	text-align: center;
	position: absolute;
	padding:10px;
	bottom: 10%;
	left:10%;
	/*opacity: 0.5;*/
	border-radius:5px;
	font-size: 13px;
	/*background-color: rgba(39,40,34,0.4);*/
}

/*.mui-radio.sex-radio input[type=radio]:checked:before{
	color:#EF9D9A;
}*/

.mui-popover .mui-table-view.sex-baby-list{
	padding-top:10px;
}

/*-------------宝宝资料样式结束-----------------*/
.mui-popovers{
	/*display: hidden;*/
}

.grow_tab_link{
	display: table-cell;
	width:1%;
	height:50px;
	overflow:hidden;
	color:#929292;
	text-align: center;
	text-overflow:ellipsis;
	white-space:nowrap;
	vertical-align: middle;
}

.grow_tab_link:active{
	color:#272822;
}

/*.nav_bottom{

	position: fixed;
	bottom:0;
	right:0;
	width: 100%;
	height: 50px;
	z-index: 10;
	background-color: rgba(247,247,247,.98);
	box-shadow: 0 0 1px rgba(0,0,0,.85);
	backface-visibility:hidden;
	display: table;
	table-layout: fixed;

}*/

/*滚轮弹出框样式*/
.scrollerBox .dwcc{
	/*background-color: #fff;*/
}

.scrollerBox .mui-input-group input[type=text]{
	padding-top:26px;
	padding-bottom: 14px;
}

.scrollerBox  .mui-input-group .mui-input-row{
	height: 48px;
}

.scrollerBox  .mui-input-row label{
	padding-top:17px;
	padding-bottom: 14px;
}
.scrollerBox .mui-input-row .mui-input-clear~.mui-icon-clear{
	top:15px;
}
/*滚轮弹出框样式结束*/

/*------------------添加身体指标样式开始------------------*/

.scrollerBox{
	width:80%;
	min-width: 225px;
	max-width: 600px;
	margin:0 auto;
	position: absolute;
	top:50%;
	left:10%;
	background-color: #fff;
	border-radius: 5px;

	/*overflow: hidden;*/
}

.newbodyIndex{
	height: auto;/*324px;*/
	margin-top: -162px;
}

@media screen and (min-width: 749px) { 
	.newbodyIndex {
		left: 50%;
		margin-left: -300px;
	}  
} 

/*隐藏滚轮input*/
#scroller{
	display: none;
}

.labelunit{
	position: absolute;
	width: 100%;
	height: 40px;
	top:90px;
	left:0px;
}

.labelunit>ul{
	width: 100%;
	padding:0;
	margin:0 auto;
	font-size: 16px;
	padding:0 0.5em;
}

.labelunit>ul>li{
	list-style-type: none;
}

.unit{
	width:50%;
	padding:0.25em;
	line-height: 40px;
	margin:0;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color:#E8C293;
}

/*调整单位位置*/
.unit>span{
	margin-left: 65%;
}

.newbodyIndex .dw-li{
	line-height: 34px !important;
}

.newbodyIndex .dw-i{
	font-size: 18px !important;	
}

.indexInputBox{
	margin:0;
}

.hide_id{
	display: none;
}
/*------------------添加身体指标样式结束------------------*/


/*------------------添加成绩样式开始------------------*/
/*隐藏滚轮input*/
#scroller_mark{
	display: none;
}

.newmark{
	height: auto;
	margin-top: -178px;/*356*/
}

@media screen and (min-width: 749px) { 
	.newmark {
		left: 50%;
		margin-left: -300px;
	}  
} 

.newmark .dw-i{
	font-size: 16px !important;
}

/*成绩表单数据区域*/
.gradeFormDataBox{
	display: none;
}
/*------------------添加成绩样式结束------------------*/

/*------------------成绩表单-------------------*/
.subjectBox{
	width:95%;
	border-bottom: 1px dashed #ddd;
	font-size: 1.1em;
	padding:8px 0px;
	margin:0 auto;
}

.subjectTitle{
	font-size: 16px;
	font-weight: 600;
}

.subjectBox:hover{
	background-color: #eee;
}

.subjectArrow{
	font-size: 15px;
	font-weight: bold;
	float: right;
	padding:3px 5px ;

	/*color:white;*/
}

.subjectName{
	float:right;
}

/*科目选择列表*/
.subjectSelectionBox{
	
}

#subjectlist{
	width:150px;
	right:0px;
	top:122px;
	background-color: #fff;
	box-shadow: 0px 0px 30px #ccc;
	border-radius:0;
	font-size: 1.1em;
	line-height: 24px;
}

#subjectlist>ul{
	border-radius: 0;
	background-color: #fff;
}

#subjectlist>ul>li{
	border-radius: 0;
	font-size: 13px;
}

.mui-popover.subjectlist .mui-table-view{
	max-height: none;
}

#scroller_subject{
	display: none;
}

.chooseSubject{
	height: auto;
	margin-top: -139px;
}

@media screen and (min-width: 749px) { 
	.chooseSubject {
		left: 50%;
		margin-left: -300px;
	}  
} 

.chooseSubject .dw-i{
	font-size: 16px !important;
}

.scoreTable{
	width:95%;
	text-align: center;
	/*border:1px solid red;*/
	margin: 0 auto;
	color:#666666;
	background-color:#EFEFF4;
	opacity: 0.5;
	line-height: 30px;
}

.tableTitle{
	/*background-color: #FAA395;*/
	border-bottom: 1px dotted #666;
	font-size:1.1em;
	color:black;
}

.oddLine{
	/*background-color: #F7F7F7;*/
}

.evenLine{
	/*background-color: #E3F7FE;*/
	color:#666666;
}

.oneData{
	font-size: 13px;
	text-align: center;
}
/*------------------成绩表单结束------------------*/

/*------------------疫苗样式开始------------------*/
.vacList{
	font-size: 11px;
}
.nextVacList{
	/*height: 300px;*/
	margin-bottom: 10px;
	display: none;
	font-size: 11px;
}

/*下次接种*/
.nextVacList>li{
	display: block;
	width:100%;
	height: 21px;
}

.item-nextVac{
	float:left;
	/*width:50%;*/
	line-height: 26px;
}

.item-vacName{
	/*width:60%;*/
}

.item-age{
	/*width:40%;*/
}

.nullTips-vac{
	padding-top:20px;
	color:#929292;
}

.vaccinatedTable{
	display: none;
}

#more-vaced{
	display: none;
}

.mui-card.vacList{
	/*min*/
	/*border-bottom: none;*/
}

/*------------------疫苗样式结束------------------*/

/*------------------疫苗接种页面样式开始------------------*/
/*疫苗box，包含疫苗接种除标题的整个页面*/
.vaccineBox{
	background-color: rgba(238,238,238,0.9);
	/*opacity: 0.9;*/
}

/*搜索框*/
.searchBox{
	padding-top:44px;
	margin-bottom: 0;
	/*background-color: #fff;*/

}

/*搜索框的输入*/
.searchIputBox{
	padding:0;
	margin:0;
	height: 43px;
}

#searchInput{
	background-color: #fff;
}

/*三个疫苗导航*/
.iconBox{
	width:100%;
	height: 75px;
	/*margin:0 auto;*/
	border:1px solid #ccc;
	background-color: #fff;
}

.iconBox>ul{
	/*border:1px solid red;*/
	margin:0;
	padding:0;
	line-height: 15px;
}


.iconBox>ul>li{
	display: inline-block;
	list-style-type: none;
	width:32%;
	padding:0;
	padding-top: 5px;
	margin:0;
	text-align: center;
	font-size: 13px;
	/*border:1px solid blue;*/
}

.iconBox>ul>li>a{
	color:#000;
}

.vacNavText{
	padding-top:4px;
}
.vacLink>img{
	width:45px;
}

.vacLink>img:active{
	opacity: 0.5;
}

.vacListName{
	margin:8px 0px 5px 8px;
	font-size: 13px;
}

.vacList{
	margin:0px 0 10px 0;
	display: none;
}

.activeVacList{
	display: block;
}

.vacList .mui-input-row label{
	font-size: 14px;
	line-height: 1.5;
}

.dateBox_vac{
	position: absolute;
	width: 40px;
	height: 100%;
	right: 0px;
	top:0px;
	/*line-height: 41px;*/
}

.vacName{
	font-size: 14px;
}

/*日期icon*/
.dateImg_vac{
	position: absolute;
	width:20px;
	right:10px;
	top:10px;
}

.dateBox_vac:active{
	opacity: 0.8;
}

/*日期icon中的日期号码*/
.dateNo{
	display: block;
	position: absolute;
	width: 20px;
	text-align: center;
	top:12px;
	right: 10px;
	font-size: 12px;
	font-weight: bolder;
	color:#fff;
}

/*疫苗自定义输入弹出窗*/
#addEditVaccine{
	width:80%;
	height: 192px;
	top:50%;
	left:10%;
	margin-top:-92px;
	background-color: #fff;
}

/*弹出窗标题*/
.editBoxName{
	text-align: center;
	color:#4C4B4B;
	padding:9px 0px 8px 0;
}

#dateVacBox{
	height: 38px;
}

/*弹出窗口中日期icon*/
.popover_date_img{
	top:8px;
}

/*弹出窗口中日期icon中的日期号码*/
.popover_dateNo{
	top:10px;
}

/*备注*/
#remarkBox{
	height: auto;
}
 
.fullVacDate{
	position: absolute;
	/*right: 36px;*/
	right: 10px;
	top:11px;
	font-size: 11px;
	color:#999;
	font-weight: 600;
} 

.date-todoVac{
	/*padding-right: 25px;*/
	/*display: none;*/
}

.doteBox-hide{
	display: none;
}
/*------------------疫苗接种页面样式结束------------------*/

/*小工具*/
.intro_stool{
	font-size:13px;
	color:#aaa;
	border-radius:5px;
}
