/* 阿里图标 */
@font-face {font-family: 'iconfont';
    src: url('../../fonts/iconfont-med.eot'); /* IE9*/
    src: url('../../fonts/iconfont-med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont-med.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont-med.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont-med.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.med-box-search-content{
	position:fixed;
	top:0px;
	width:100%;
	height:100px;
	padding-bottom:0px;
	margin-bottom:0px;
	z-index: 1
}
.med-box-content{
	background:#FFF;
	margin-top:50px;
	margin-bottom:50px;
}
/* 药箱列表  */
.med-box-list a i{
	font-size:25px;
	margin-right:10px;
	color:#ED7878;
}
.med-box-name{
	font-size:15px;
	color:#838383;
}
.med-box-mark{
	font-size:13px;
	color:#A8A2A2;
	padding-left:10px;
}
.med-box-item{
	background:#FFF;
}
.med-box-item.select-wait{
	background: #F8F8F8;
}
.med-box-item.select-wait.delete-wait{
	background:#D55F5F;
}
.med-box-item.select-wait.delete-wait .med-box-name,.med-box-item.select-wait.delete-wait .iconfont{
	color:#FFF;
}
/* 药品列表  */
.mui-table-view.medicine-list.mui-table-view-chevron{
	margin-top:0px;
}
.med-num{
	display: block;
	width:40px;
	height:40px;
	border-radius: 20px;
	line-height: 40px;
	/* background: #F4EFEF; */
	background:#F48F8F;
	/* color:#575656; */
	color:#FFF;
	text-align: center;
	float:left;
}
.med-arrow-right{
	color:#FFB8B8;
}
.med-msg{
	padding-left:50px;
}
.med-name{
	font-size:15px;
}
.med-description{
	color:#797979;
	font-size:12px;
}
.med-note{
	width:100%;
	text-align: center;
	font-size:12px;
}
.med-bar-tab{
	background:#4F4A4A;
}
.mui-bar-tab .mui-tab-item.mui-active.medicine-item{
	color:#FFF;
}
.mui-bar-tab .mui-tab-item.mui-active.medbox-item{
	color:#EC3636;
}
.med-box-item a.medicine-select-item{
	padding-left:0;
	margin-left:-45px;
}
/* 模态对话框开始 */
.form-model{
	position: fixed;
	width:80%;
	min-width: 230px;
	left:10%;
	top:10%;
	background:#FFFFFF;
	z-index:2;
	border-radius:5px;
	padding-bottom:13px;
}
.model-header{
	position:relative;
	height:45px;
	line-height:45px;
	background:#EF9D9A;
	color:#FFF;
	text-align:center;
	font-weight:700;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.mui-title.model-title{
	color:#FFF;
	font-weight: bold;;
}
.mui-btn.model-btn{
	  background-color: #DA8F8F;
	  color: #FFF;
	  border: none;
	  font-weight: bold;
}
.model-close{
	position:absolute;
	display: block;
	top:-10px;
	right:0;
	width:20px;
	height:20px;
	padding:0px;
	margin:0px;
}
.model-content{
	overflow:hidden;
	padding-top:15px;
}
.model-content p{
	padding-left:10px;
	margin:0;
}
.model-content-list{
	border-bottom:1px solid #F2EAEA;
	text-align:center;
	padding:10px 5px 10px 5px;
}
.model-bottom{
	padding:15px 20px 20px 20px;
}
.model-btn-refresh{
	float:left;
	width:100%;
	background-color: #DA8F8F;
	margin-bottom:5px;
	border:1px solid #DA8F8F;
	font-size:15px;
}
.model-item{
	width:100%;
	padding:5px 20px 5px 20px;
	clear:both;
}
.model-item-title{
	float:left;
	font-size:16px;
	color:#AD7703;
	width:20%;
	display:block;
	line-height:33px;
}
.model-item input{
	border:0px;
	border-bottom:1px solid #DDD7D7;
	float:right;
	width:80%;
}
.med-model{
	display:none;
	z-index:100;
}
#pregDrop{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#000;
	opacity:0.8;
	display: none;
	z-index:99;
}
/* 模态对话框结束 */
/* 弹出菜单开始  */
#mui-popover{
	z-index:101;
	width:150px;
	display: none;
	position: fixed;
	right:5px;
	top:45px;
}
#mui-popover li a{
	font-size:1rem;
}
/* 弹出菜单结束  */
.med-box-check{
	display: none;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#DF5A5A;
}
.med-box-item>.mui-navigate-right.med-box-item-right{
	padding-left:15px;
}
.medbox-item-iconfont.hidden{
	display: none;
}
/* 关键词 */
.key-word{
	color:red;
}
/* 药品详情	 */
.medicine-refresh-btn{
	width:100%;
	display: block;
	position:fixed;
	bottom:30px;
	padding:10px;
}
.mui-input-group{
	font-size:14px;
}
.mui-input-row label~input{
	font-size:14px;
}
.mui-content-padded.medicine-detail-content{
	margin-top:58px;
}