/* 阿里图标 */
@font-face {
	font-family: 'iconfont';
    src: url('../../fonts/iconfont-preg.eot'); /* IE9*/
    src: url('../../fonts/iconfont-preg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont-preg.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont-preg.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont-preg.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 助孕记录菜单 */
.preg-menu-content{
	position:fixed;
	top:0px;
	width:100%;
}
#preg-menu ul{
	padding:10px 0px 10px 0px;
	margin:0px;
	overflow: hidden;
	background:#F8F8F8;
}
#preg-menu ul li{
	list-style-type:none;
	font-size:14px;
	color:#6F6F6F;
	text-align: center;
	width:25%;
	float:left;
}
.pregIcon{
	border:1px solid #8F8F94;
	display:block;
	width:40px;
	height:40px;
	border-radius: 20px;
	text-align: center;
	line-height:40px;
	color:#7F8286;
	margin:0 auto;
	margin-bottom:7px;
}
.pregIcon i{
	font-size:20px;
}
.pregIcon.active{
	border:1px solid #F2837F;
	background:#F2837F;
}
.pregIcon i{
	color:#7F8286;
}
.pregIcon.active i{
	color:#FFF;
}
/* 分块内容  */
.more-link{
	color:#929292;
	font-size:12px;
}
.preg-content-section{
	padding-top: 20px;
	padding-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	border-bottom: 1px solid #F2F2F2;
	font-size:14px;
	overflow: hidden;
}
.preg-title{
	font-size:14px;
	padding-bottom: 5px;
	font-weight:bold;
	color:#000;
	border-left:4px solid #FF9999;
	padding-left:10px;
	height:20px;
	line-height:20px;
}
.preg-content{
	padding-top:90px;
	background:#FFFFFF;
	color:#7F8286;
	display:none;
}
.preg-content.active{
	display: block;
}
.preg-detail{
	float:left;
	padding:5px 20px 0px 0px;
	font-size:12px;
}
.preg-detail-title{
	color:#7F8286;
	font-weight: bold;
}
/* 添加按钮 */
.preg-add-btn{
	position:fixed;
	width:40px;
	height:40px;
	border-radius: 20px;
	background:#F2837F;
	text-align: center;
	color:#FFF;
	line-height:35px;
	font-size:30px;
	bottom:20px;
	right:20px;
	font-weight: bold;
	padding:0px;
}
.preg-add-btn:active{
	background: red;
	color:#FFF;
}
/*加载动画*/
#loading-btn{
	position:fixed;
	font-size:30px;
	left:50%;
	top:150px;
	margin-left:-15px;
	color:#626161;
	-webkit-animation:loading 1s infinite linear ;
	display: none;
}

@-webkit-keyframes loading {
    0%{
        -webkit-transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
/* 模态对话框 */
.form-model{
	position: fixed;
	width:80%;
	min-width: 230px;
	left:10%;
	top:10%;
	background:#FFFFFF;
	z-index:999;
	border-radius:5px;
	padding-bottom:13px;
}
.model-header{
	position:relative;
	height:45px;
	line-height:45px;
	background:#EF9D9A;
	color:#FFF;
	text-align:center;
	font-weight:700;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.mui-title.model-title{
	color:#FFF;
	font-weight: bold;;
}
.mui-btn.model-btn{
	  background-color: #DA8F8F;
	  color: #FFF;
	  border: none;
	  font-weight: bold;
}
.model-close{
	position:absolute;
	display: block;
	top:-10px;
	right:0;
	width:20px;
	height:20px;
	padding:0px;
	margin:0px;
}
.model-content{
	overflow:hidden;
	padding-top:15px;
}
.model-content p{
	padding-left:10px;
	margin:0;
}
.model-content-list{
	border-bottom:1px solid #F2EAEA;
	text-align:center;
	padding:10px 5px 10px 5px;
}
.model-content-list-title{
	font-size:16px;
	color:#5A5A5E;
}
.model-content-list-title img{
	width:16px;
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
}
.model-content-list-select{
	color:#9D9C9C;
	width:37px;
	display: inline-block;
	margin:0px;
	padding:0px;
	text-align:center;
	font-size:16px;
}
.model-bottom{
	padding:15px 20px 20px 20px;
}
.model-btn-refresh{
	float:left;
	width:100%;
	background-color: #DA8F8F;
	margin-bottom:5px;
	border:1px solid #DA8F8F;
	font-size:15px;
}
.model-btn-delete{
	float:left;
	width:100%;
	background-color: #E8E8E8;
	margin-bottom:5px;
	color:#000;
	border:1px dashed #000;
	font-size:15px;	
}
.model-btn-delete.deleted{
	border:1px solid #000;
}
.model-btn-cancel{
	float:right;
	width:100%;
	font-size:15px;
}
.model-tips{
	padding:10px 20px 0px 20px;
	text-align:center;
}
.model-tips img{
	width:16px;
	display: inline-block;
	margin-right:5px;
}
.model-content-list-content{
	font-size:14px;
	color:#9D9C9C;
}
.last-btn{
	width:100%;
	display: block;
	margin-bottom:5px;
	font-size:14px;
	color:#989898;
}
/* 助孕记录表格 */
.preg-record-table{
	width:100%;
	text-align: center;
}
.preg-record-table tbody{
	background:#FEEFE;
}
.preg-record-table .tr-even{
	background:#FAFAFA;
}
.preg-record-table th{
	color:#E4C293;
	text-align: left;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	border-top:1px dashed #D3D3D3;
	width:50%;
}
.preg-record-table td{
	padding:5px 0px 5px 0px;
}
.table-hidden{
	display: none;
}
.table-more-btn{
	color:#7F8286;
}
/*自定义遮罩层 */
#pregDrop{
	display: none;
}
/*mobiscroll样式*/
.dwwc{
	background:#FFF;
}

.chart-section{
	position:relative;
}
.chart-empty{
	position: absolute;
	text-align: center;
	z-index:10;
	width:100%;
	top:60px;
}
.chart-empty.not-shown{
	display:none;
}



