.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#A8183E;
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background-color:#EA104A;
}
#menseItem,#menseChart{
	padding-top:20px;
	padding-bottom:20px;
}

#menseItem .dateInput,#menseChart .dateInput{
	width:50%;
	display: inline-block;
}
#menseChart{
	background:#FFF;
}
#menseChart.rotate{
	transform:rotate(90deg);
}
.chart-empty{
	position: absolute;
	text-align: center;
	width:100%;
	height:100%;
	top: 0;
	line-height: 150px
}
.chart-empty.not-shown{
	display:none;
}
.mui-table-view{
	text-align:center;
}
.mui-table-view-cell{
	font-size:14px;
}
.mui-slider-group{
	background:#FFF;
}
#slider{
	background: #FFF;
}
/* 助孕记录表格 */
.preg-record-table{
	width:100%;
	text-align: center;
}
.preg-record-table tbody{
	background:#FEEFE;
}
.preg-record-table .tr-even{
	background:#FAFAFA;
}
.preg-record-table th{
	color:#E4C293;
	text-align: left;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	border-top:1px dashed #D3D3D3;
	width:50%;
}
.preg-record-table td{
	padding:5px 0px 5px 0px;
}
/* 旋转按钮 */
.rotateBtn{
	display:block;
	width:40px;
	height:40px;
	position:fixed;
	right:20px;
	bottom:20px;
	color:#FFF;
	background:#DD524D;
	line-height:40px;
	text-align:center;
	border-radius:20px;
}
.rotateBtn.hidden{
	display:none;
}

/* 旋转效果 */
header.hidden{
	display:none;
}
.mui-bar-nav~.mui-content.hidden{
	padding-top:0px;
}
#sliderSegmentedControl.hidden{
	display:none;
}
.mui-slider-progress-bar.hidden{
	height:0px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item.hidden{
	border:0px;
}
.rotateBtn.rotate{
	left:20px;
}