/*iconnFont图标*/
@font-face {font-family: 'iconfont';
    src: url('../../fonts/iconfont-psn.eot'); /* IE9*/
    src: url('../../fonts/iconfont-psn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont-psn.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont-psn.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont-psn.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*横排三个导航图标*/
.icon-psnNav{
	display:block;
	/*border:1px solid red;*/
	/*width: 32px;*/
	height: 30px;
	font-size: 28px;
	margin:0 auto;
	padding-top:8px;
	color:#eb4f3b;
}

.icon-psnNav:active{
	opacity: 0.5;
}

.babyIconFont{
	color:#0E7DB9;
}

.clockIconFont{
	color:#48B090;
}

/*竖排小图标*/
.icon-psnItem{
	display:block;
	/*border:1px solid red;*/
	/*width: 32px;*/
	/*height: 30px;*/
	font-size: 18px;
	margin:0 auto;
	line-height: 18px;
	/*margin-top:-2px;*/
	/*color:#eb4f3b;*/
}

.coinIcon{
	font-size: 20px;
	width:20px;
}

.idIcon{
	width: 20px;
	font-size: 16px;
	padding-left:1px;
}

.addVIcon{
	font-size:22px;
	width: 22px;
	margin-left: -2px;
	padding:0;
}

/*提醒图标*/
.icon-remindItem{
	display:block;
	/*border:1px solid red;*/
	/*width: 32px;*/
	/*height: 30px;*/
	font-size: 18px;
	margin:0 auto;
	line-height: 18px;
	/*margin-top:-2px;*/
	/*color:#eb4f3b;*/
}
body{
	background-color: #eee;
}

/*-------------------公共样式开始--------------------*/
.headTitle{
	background-color: #DD524D;
}

.headTitle.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}

.headTitle>.mui-title{
	color:#fff;
}
/*-------------------公共样式结束--------------------*/

/*用户头像，昵称，心情盒子*/
.psnBox{
	background-color: #fff;
	width:100%;
	height: 120px;
	position: relative;
	background-color: rgba(250,84,84,0.6);/*#EF9D9A*/
	/*background-image: url("/public/images/client/psnBg2.png");*/
	/*padding-left:20px;*/
}

.imgAndname{
	padding-left: 20px;
	padding-top: 15px;
}

/*头像*/
.headImg{
	width:60px;
	height: 60px;
	overflow: hidden;
	border:2px solid #eee;
	border-radius: 30px;
	float:left;
}

.headImg>img{
	width:60px;
	/*height: 50px;*/
	
}

/*昵称*/
.nickname{
	display: block;
	padding-top: 35px;
	padding-left: 65px;
	font-weight: 500;
	color:#272822;

}

/*心情*/
.introdction{
	position: absolute;
	bottom: 0;
	font-size: 15px;
	width: 100%;
	color:#eee;
	padding:5px 0px 5px 20px;
	background-color: rgba(0,0,0,0.5);
}

/*三个导航*/
.navbox{
	width:100%;
	/*height: 75px;*/
	border:1px solid #ccc;
	background-color: #fff;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}


.navbox>ul{
	margin:0;
	padding:0;
	line-height: 15px;
}


.navbox>ul>li{
	display: inline-block;
	list-style-type: none;
	width:32%;
	padding:0;
	padding-top: 5px;
	margin:0;
	text-align: center;
	font-size: 13px;
}

.navbox>ul>li>a{
	color:#000;
}

.psnnavName{
	font-size: 12px;
	color:#828282;
}

/*下面菜单列表*/
.navList{
	margin-top:15px;
	border-top: 1px solid #ddd;
}

.navList img{
	width:18px;
}

.psnInfItem{
	position: relative;
	display: block;
}

/*菜单icon*/
.listItemIcon{
	float:left;
	padding-right: 5px;

}

/*菜单右边文字*/
.listItemText{
	float:right;
	font-size: 14px;
	color:#aaa;
	padding-top: 2px;
	padding-right: 15px;
}


/*-----------------------------提醒样式开始----------------------------*/
.remindList{
	/*padding-top: 44px;*/
	margin-top: 64px;
}

/*toggle控件*/
.remindList .mui-switch-mini{
	width: 57px;
}

/*toggle控件滑动*/
.remindList .mui-switch.mui-active .mui-switch-handle{
	-webkit-transform: translate3d(26px, 0px, 0px) !important;
}

.remindList .mui-switch.mui-active{
	background-color: #F2837F;
	border-color:#F2837F;
}

/*-----------------------------提醒样式结束----------------------------*/

/*-----------------------------修改信息样式开始----------------------------*/
.mui-btn-link.mui-btn-nav.infSaveBtn{
	color:#fff;
}

.settingModular{
	position: relative;
	padding:54px 10px 5px 10px;

}

.numRemainder{
	position:absolute;
	top:73px;
	right: 15px;
	z-index:99;
	font-size: 13px;
	color:#ccc;
	display: none;
}

input.infText{
	margin-bottom: 3px;
	padding-left:7px;
	font-size: 14px;
}

.infTips{
	color:#aaa;
	padding-left:7px;
}

.responseInf{
	text-align: center;
	border-radius: 5px;
	margin:20px auto;
	padding:10px 0; 
	width:80%;
	color:red;
	font-size: 16px;
	/*background-color: rgba(39,40,34,0.3);*/
	display: none;
}
/*-----------------------------修改信息样式结束----------------------------*/