<div class="captcha-wrapper">
	<div class="captcha-input-wrapper">
		<div class="captcha-input none"></div>
		<div class="captcha-input none"></div>
		<div class="captcha-input none"></div>
		<div class="captcha-input none"></div>
		<div class="captcha-input-delete-btn"></div>
	</div>
	<div class="captcha-img-wrapper">
		<div class="captcha-img"></div>
		<a href="javascript:;" class="captcha-img-refresh">看不清？</a>
	</div>
	<p class="captcha-tip">
		点击框内字母输入上图中对应字母（区分大小写）
	</p>
	<div class="captcha-btn-wrapper">
	</div>
</div>